<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
    .active {
        background-color: orange;
    }
    </style>
</head>

<body>
    <div class="tab" ng-app="tabApp">
        <ul class="tabNav">
            <li ng-class="{ 'active' : data.current == 1 }" ng-click="actions.setCurrent(1)">张三</li>
            <li ng-class="{ 'active' : data.current == 2 }" ng-click="actions.setCurrent(2)">李四</li>
            <li ng-class="{ 'active' : data.current == 3 }" ng-click="actions.setCurrent(3)">王五</li>
        </ul>
        <ul class="tabCont">
            <li ng-show="data.current == 1">
                <div class="line" style="width: 100%;height: 500px;"></div>
            </li>
            <li ng-show="data.current == 2">李四的个人信息</li>
            <li ng-show="data.current == 3">王五的个人信息</li>
        </ul>
    </div>
    <script src="./js/angular.min.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/echarts.js"></script>
    <script>
    var app = angular.module('tabApp', []);
    app.run(function($rootScope) {
        $rootScope.data = {
            current: "1" // 1代表张三，2代表李四，3代表王五
        };
        $rootScope.actions = {
            setCurrent: function(param) {
                $rootScope.data.current = param;
                setTimeout(function() {
                    if (node.length) {
                        chartresize(node);
                    }
                }, 1)
            }
        }
    })
    </script>
    <script>
    function chartresize(node) {
        $.each(node, function(index, value) {
            $(this).resize();
        });
    }
    var node = [];
    $(function() {
        window.onresize = function() {
            chartresize(node);
        };
        var x = "周四",
            ymax = 1500,
            ymin = 0;
        var option = {
            title: {
                text: '某楼盘销售情况',
                subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['意向', '预购', '成交']
            },
            toolbox: {
                show: false,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            calculable: true,
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            }],
            yAxis: [{
                type: 'value'
            }],
            series: [{
                    name: '成交',
                    type: 'line',
                    smooth: true,
                    // itemStyle: { normal: { areaStyle: { type: 'default' } } },
                    // data: [10, 12, 21, 54, 260, 830, 710],
                    markLine: {
                        itemStyle: {
                            normal: { lineStyle: { type: 'solid', color: 'green' }, label: { show: true, position: 'left' } }
                        },
                        large: true,
                        effect: {
                            show: false,
                            loop: true,
                            period: 0,
                            scaleSize: 2,
                            color: null,
                            shadowColor: null,
                            shadowBlur: null
                        },
                        data: [
                            [
                                /*{ name: '标线1起点', value: 400, xAxis: -1, yAxis: 400 }, // 当xAxis为类目轴时，数值1会被理解为类目轴的index，通过xAxis:-1|MAXNUMBER可以让线到达grid边缘
                                { name: '标线1终点', xAxis: '周日', yAxis: 400 }, // 当xAxis为类目轴时，字符串'周三'会被理解为与类目轴的文本进行匹配*/
                                { name: '', xAxis: x, yAxis: ymax, /*x:'600',y:'0'*/ },
                                { name: '', xAxis: x, yAxis: ymin, /*x:'600',y:'1000'*/ }
                            ],
                        ]
                    }
                },
                {
                    name: '预购',
                    type: 'line',
                    smooth: true,
                    // itemStyle: { normal: { areaStyle: { type: 'default' } } },
                    data: [30, 182, 434, 791, 390, 30, 10]
                },
                {
                    name: '意向',
                    type: 'line',
                    smooth: true,
                    // itemStyle: { normal: { areaStyle: { type: 'default' } } },
                    data: [1320, 1132, 601, 234, 120, 90, 20]
                }
            ]
        };
        var myChart = echarts.init($('.line')[0]);
        myChart.setOption(option, true);
        node.push(myChart);
    })
    </script>
    
</body>

</html>