<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>张家港市金融机构在线申报系统</title>
    <link href="../../static/css/datepicker.css" rel="stylesheet">
    <link href="../../static/css/easy.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/style.css" rel="stylesheet">
</head>

<body>
    <!--左侧-->
    <div class="left-nav">
        <div class="head-img"> <img src="../../static/images/head.jpg" height="122" width="122" alt="">
            <p>欢迎您：137***2129</p>
            <a class="member">会员中心</a>
        </div>
        <ul>
            <a href="#">
                <li><i class="icon1"></i>报表申报</li>
            </a>
            <a href="#">
                <li class="on"><i class="icon2"></i>公告</li>
            </a>
            <a href="#">
                <li><i class="icon3"></i>申报管理</li>
            </a>
            <a href="#">
                <li><i class="icon4"></i>联系我们</li>
            </a>
            <a href="#">
                <li><i class="icon5"></i>领军人才企业备案</li>
            </a>
        </ul>
    </div>
    <div class="mcontent">
        <div class="header">
            <div class="title"> 张家港市金融机构在线申报系统<img style="display: inline-block" src="../../static/images/changxing-icon.png" width="70" height="27" alt="" /></div>
            <div class="rnav">
                <ul>
                    <li class="quit"><a href="javascript:void(0)">退出登录</a></li>
                    <li class="contact"><a href="#">通讯录</a><i></i></li>
                    <li class="service"><a href="javascript:void(0)">客户服务</a><i></i></li>
            </div>
            <div class="dialog dialog_service"> <a href="#" class="dclose">&nbsp;</a>
                <div class="title">
                    <h3>客户服务</h3>
                </div>
                <div class="dcontent">
                    <form class="form form_reason" id="serviceform">
                        <ul>
                            <li>
                                <label>您好！请将您的意见、需求、建议或投诉内容告诉我们。我们的服务专员会尽快跟您联系。如您的问题比较紧急，请致电服务热线：400-6520-060</label>
                            </li>
                            <li>
                                <textarea id="server_content" placeholder="请输入您的意见和建议（100字以内）" cols="100" required maxlength="100"></textarea>
                                <div class="msg">请输入内容</div>
                            </li>
                        </ul>
                        <div class="dbtn"><a class="dokay_pass" style="margin: 0;">确定通过</a></div>
                    </form>
                </div>
            </div>
        </div>
        <!--中间内容-->
        <div class="top">
            <div class="back2"><img src="../../static/images/back.png" width="26" height="26" alt="" />
                <p>返回</p>
            </div>
            <div class="btns_index">
                <a href="#">公告</a>><a href="#">公告列详情</a>
            </div>
        </div>
        <div class="dtbox">
            <span class="main_title">关于公示2016年度“创业在上海”创新创业大赛</span>
            <p class="subtitle_wrapper"><span>发布时间：2017-07-25 16:00      </span><span>查看数：1562</span></p>
        </div>
        <div class="mbox dbox">
            <div class="cbox">
                <div class="detailbox">
                    <ul>
                        <li>根据《关于举办2017年“创业在上海”国际创新创业大赛的通知》以及《第六届中国创新创业大赛尽职调查工作》的相关要求，将开展尽职调查工作，现通知如下：</li>
                        <li>1、尽职调查对象：国赛选拨赛晋级企业。</li>
                        <li>2、尽职调查工作由大赛组委会委托的投资机构和特约银行共同组成调查小组，对企业参赛信息的真实性进行调查，请接到尽职调查通知的企业予以配合。如企业因故不能接待大赛尽职调查，需提交书面回复（加盖企业公章），此类企业将视为退赛。</li>
                        <li>3、尽职调查工作查验电话：64839009转基金部。</li>
                        <li>4、本届大赛优胜企业名单将根据国赛选拨赛综合评分和尽职调查情况确定。符合第六届中国创新创业大赛要求的，并择优推荐至科技部参加中国创新创业大赛。</li>
                        <li>2017年第一期创新创业大赛优胜项目将通过苗圃项目立项的方式给予资金支持。现将拟立项清单予以公示（见附件一），请各创业苗圃单位确认公示的大赛优胜团队情况并和团队取得联系。 本次公示时间由至9月22日-9月29日。
                        </li>
                        <li>团队项目资金使用范围需依照“科技创业计划项目管理暂行办法”（见附件二）的要求执行，并根据各苗圃单位财务制度实施。公示期间如有异议，请联系上海市科技创业中心交流合作部。 联系人：王书立，联系电话64518554，邮箱：wang_shl@shtic.com。
                        </li>
                    </ul>
                </div>
                <div class="downarea">
                    <label><i></i><span>附件下载：</span></label>
                    <div class="downloadP">
                        <span>附件1</span><a href="#">科技创业项目拟立项清单</a>
                    </div>
                    <div class="downloadP">
                        <span>附件2</span><a href="#">科技创业计划项目管理暂行办法</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/easy.js"></script>
    <script src="../../static/js/datepicker.js"></script>
    <script src="../../static/js/jquery.validate.js"></script>
    <script src="../../static/js/datepicker.js"></script>
    <script src="../../static/js/js.js"></script>
    <script>
    //关闭按钮
    $(document).on('click', '.close_notice', function() {
        $(this).closest('li').remove();
    })
    </script>
</body>

</html>