<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>张家港市金融机构在线申报系统</title>
    <link href="../../static/css/easy.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/style.css" rel="stylesheet">
</head>

<body>
    <!--左侧-->
    <div class="left-nav">
        <div class="head-img"> <img src="../../static/images/head.jpg" height="122" width="122" alt="">
            <p>欢迎您：137***2129</p>
            <a class="member">会员中心</a>
        </div>
        <ul>
            <a href="#">
                <li class="on"><i class="icon1"></i>报表申报</li>
            </a>
            <a href="#">
                <li><i class="icon2"></i>公告</li>
            </a>
            <a href="#">
                <li><i class="icon3"></i>申报管理</li>
            </a>
            <a href="#">
                <li><i class="icon4"></i>联系我们</li>
            </a>
            <a href="#">
                <li><i class="icon5"></i>领军人才企业备案</li>
            </a>
        </ul>
    </div>
    <div class="mcontent">
        <div class="header">
            <div class="title"> 张家港市金融机构在线申报系统<img style="display: inline-block" src="../../static/images/changxing-icon.png" width="70" height="27" alt="" /></div>
            <div class="rnav">
                <ul>
                    <li class="quit"><a href="javascript:void(0)">退出登录</a></li>
                    <li class="contact"><a href="#">通讯录</a><i></i></li>
                    <li class="service"><a href="javascript:void(0)">客户服务</a><i></i></li>
				</ul>
            </div>
            <div class="dialog dialog_service"> <a href="#" class="dclose">&nbsp;</a>
                <div class="title">
                    <h3>客户服务</h3>
                </div>
                <div class="dcontent">
                    <form class="form form_reason" id="serviceform">
                        <ul>
                            <li>
                                <label>您好！请将您的意见、需求、建议或投诉内容告诉我们。我们的服务专员会尽快跟您联系。如您的问题比较紧急，请致电服务热线：400-6520-060</label>
                            </li>
                            <li>
                                <textarea id="server_content" placeholder="请输入您的意见和建议（100字以内）" cols="100" required maxlength="100"></textarea>
                            <div class="msg">请输入内容</div>
                            </li>
                        </ul>
                        <div class="dbtn"><a class="dokay_pass" style="margin: 0;">确定通过</a></div>
                    </form>
                </div>
            </div>
        </div>
        <!--中间内容-->
            <div class="monthreport" id="result">
        </div>
        </div>
    </div>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/easy.js"></script>
    <script src="../../static/js/datepicker.js"></script>
    <script src="../../static/js/jquery.validate.js"></script>
    <script src="../../static/js/datepicker.js"></script>
    <script src="../../static/js/js.js"></script>   
    <script>
    var loanlist;
    $(function() {
        function searchdata(url) {
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function(r) {
                    loanlist = r;
                    $('#result').html('').tmpl('tmpl', loanlist);
                }
            })
        };
        searchdata('../../static/images/loan.json');
        /*左箭头*/
        $(document).on('click', '.yearl', function() {
            searchdata('../../static/images/loan_2016.json');
        });
        /*右箭头*/
        $(document).on('click', '.yearr', function() {
            searchdata('../../static/images/loan.json');
        });
    })
    </script>
    <script type="text/html" id="tmpl">
        <% var nowyear = new Date(); nowyear = nowyear.getFullYear(); %>
            <% if ( nowyear == loanlist.year ) { %>
                <div class="refresh_year">
                    <div><i class="yearl"></i>
                        <%=loanlist.year%>年<i class="end yearr"></i></div>
                </div>
            <% }%>
            <% if ( nowyear > loanlist.year ) { %>
                <div class="refresh_year">
                    <div><i class="yearl"></i>
                                <%=loanlist.year%>年<i class="yearr"></i></div>
                </div>
            <% }%>
            <% for ( var i = 0; i < loanlist.list.length; i++ ) {
                var e=loanlist.list;%>
                <div class="monthbox">
                <div class="month_list">
                <div class="month_list_box">
                <div class="month"><%=i+1%>月</div><div class="info">
                <% if(e[i].status==1){%>
                    <div class="declare"><i></i>已申报</div>
                <% } else{%>
                    <div class="nodeclare"><i></i>未申报</div>
                <% } %>
                    <div class="btns_wrapper">
                    <% if(e[i].operate==0){%>
                        <ul class="state1">
                            <li><a href="#">查看报表</a></li>
                            <li><a href="#">重新上传</a></li>
                        </ul>
                    <% } else if(e[i].operate==1){%>
                        <ul class="state2">
                            <li><a class="refresh_btns">立即申报</a></li>
                        </ul>
                    <% } else if(e[i].operate==2){%>
                        <ul class=" state3">
                            <li>尚未到申报时间</li>
                        </ul>
                    <%} %>
                    </div></div></div>
                </div></div>
        <%} %>
    </script>
</body>

</html>