@charset "utf-8";
/* CSS Document */
html, body { width:100%; height:100%; color:#fff;}
body, input, select { font-size: 12px; background: #fff; line-height: 100%; margin: 0;font-family:'微软雅黑',arial; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body, div, ul, li, p, span, h1, h2, h3, h4, h5, h6, img, form, table, tr, td, dl, dt, dd, input, select { margin: 0; padding: 0; }
div, ul, li { zoom: 1; }
ul, li, ol { list-style: none; list-style-type: none; }
img { border: 0 none; }
a { text-decoration: none; }
a:hover { text-decoration: none; }
a[href^=tel] { color: inherit; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; line-height: normal; font-style: normal; font-weight:normal; }
.clear { margin: 0; padding: 0; width: 0; height: 0; line-height: 0; font-size: 0; list-style: none; list-style-type: none; clear: both; zoom: 1; }
.q:after { content: "."; display: block; height: 0; clear: both; font-size: 0px; visibility: hidden; }
.both { clear: both; }
.left { display: inline; float: left}
.right { display: inline; float: right}
input[type='text'],input[type='button'],input[type='submit'], textarea { -webkit-appearance:none;border:none; background:none; outline:none;}
.noborder { border:none !important}
.nopadding{ padding:0 !important}
.nomargin{ margin:0 !important}
.anidemo { -webkit-animation: ademo 3s 1s linear infinite forwards; opacity:0; left:15px; }/*alternate*/
@-webkit-keyframes ademo {
	0% { -webkit-transform: translate(0px, 0px) rotate(-4deg) scale(0.8)}
	100% { -webkit-transform: translate(55px, 112px) rotate(4deg) scale(1)}	
}
.swiper-slide, .swiper-wrapper { height: 100%; position: relative; transform-style: preserve-3d; width: 100% }
.swiper-pagination, .swiper-wrapper { -webkit-transform: translate3d(0, 0, 0) }
.swiper-container { margin: 0 auto; position: relative; overflow: hidden; z-index: 1 }
.swiper-container-vertical>.swiper-wrapper { -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column }
.swiper-wrapper { z-index: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; -moz-transform: translate3d(0, 0, 0); -o-transform: translate(0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box }
.swiper-slide, .swiper-wrapper { -ms-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d }
.swiper-container-multirow>.swiper-wrapper { -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-fles-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap }
.swiper-container-free-mode>.swiper-wrapper { -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; margin: 0 auto }
.swiper-slide { -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0 }
.swiper-wp8-horizontal { -ms-touch-action: pan-y; touch-action: pan-y }
.swiper-wp8-vertical { -ms-touch-action: pan-x; touch-action: pan-x }
.swiper-container-coverflow .swiper-wrapper { -ms-perspective: 1200px }
.swiper-container { width: 100%; height: 100% }
.swiper-slide { text-align: center; }
.swiper-container-horizontal>.swiper-pagination { bottom: 10px; left: 0; width: 100% }
.swiper-pagination { position: absolute; text-align: center; -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms; transition: 300ms; -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 10 }
.swiper-pagination.swiper-pagination-hidden { opacity: 0 }
.swiper-pagination-bullet { width: 8px; height: 8px; display: inline-block; border-radius: 100%; background: #ccc; opacity: 0.3 }
.swiper-pagination-clickable .swiper-pagination-bullet { cursor: pointer }
.swiper-pagination-white .swiper-pagination-bullet { background: #fff }
.swiper-pagination-bullet-active { opacity: 1; background: #fff }
.swiper-pagination-white .swiper-pagination-bullet-active { background: #fff }
.swiper-pagination-black .swiper-pagination-bullet-active { background: #000 }
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet { margin: 0 3px; }
.guide{ background:url(guide.png) no-repeat; background-size:30px; height:30px;width:30px;position:absolute;left:50%;margin-left:-15px;bottom:10px;opacity: 0;-webkit-animation: guide 1.5s infinite alternate;-moz-animation: guide 1.5s infinite alternate;-o-animation: guide 1.5s infinite alternate;animation: guide 1.5s infinite alternate; cursor:pointer; z-index:100;}
@-webkit-keyframes guide {
	0% {-webkit-transform: translateY(10px);opacity: 0;}
	100% {-webkit-transform: translateY(0px);opacity: 1;}
}
@-moz-keyframes guide {
	0% {-webkit-transform: translateY(10px);opacity: 0;}
	100% {-webkit-transform: translateY(0px);opacity: 1;}
}
@-o-keyframes guide {
	0% {-webkit-transform: translateY(10px);opacity: 0;}
	100% {-webkit-transform: translateY(0px);opacity: 1;}
}
@keyframes guide {
	0% {-webkit-transform: translateY(10px);opacity: 0;}
	100% {-webkit-transform: translateY(0px);opacity: 1;}
}
/*loading*/
#loading {z-index: 11111111; width: 100%; height: 100%; text-align: center; background: #b9e9f7; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; position: absolute; left: 0; top: 0 }
.common_loading > div { width: 50px; height: 50px; background-color: #0CF; overflow: hidden; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 2s infinite ease-in-out; animation: bouncedelay 2s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.common_loading .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.common_loading .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
	0%, 80%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); }
	40% { transform: scale(1.0); -webkit-transform: scale(1.0); }
}
.clogo { position: fixed; bottom: 10px; text-align: center; width: 100%; left: 0 }
.clogo img { width: 100px; }
.popbg { display: none; z-index: 100; background-color: #000; width: 100%; height: 100%; left: 0; top: 0; filter: alpha(opacity=50); opacity: 0.5; position: absolute; }
body { background:#0b3b80;}

@-webkit-keyframes y {
  from {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  }
  to {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  }
}
@-webkit-keyframes z {
  from {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  }
  to {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
  }
}
html {
  overflow: hidden;
}
body {
  overflow: hidden; background:#0b3d85
}
#stage {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
div,
ul,
span,
li,
img {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
#stage,
#page0{
  position: absolute;
  width: 500px;
  height: 200px;
  left: 50%;
  top: 0%;
  margin-left: -250px;
  z-index:2
}

#page0 .main {
  position: absolute;
  width: 300px;
  height: 120px;
  left: 50%;
  top: 0%;
  margin-left: -150px;
}
#page0 .main ul {
  position: absolute;
  width: 300px;
  height: 120px;
  left: 50%;
  top: 0%;
  margin-left: -150px;
  -webkit-animation: y 45s linear 0s infinite;
  -moz-animation: y 45s linear 0s infinite;
  -ms-animation: y 45s linear 0s infinite;
  animation: y 45s linear 0s infinite;
  /*主ui转动速度*/

  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  -ms-perspective: 3000px;
  perspective: 3000px;
}
#page0 .main ul .circle {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 50%;
  top: 0%;
  margin-left: -125px;
  -webkit-transform: translateX(0) translateY(30px) translateZ(-20px) rotateX(-110deg) rotateY(-6deg) rotateZ(0deg) scaleX(0.6) scaleY(0.6) scaleZ(0.6);
}
#page0 .main ul .circle img {
  -webkit-animation: z 5s linear 0s infinite;
  -moz-animation: z 5s linear 0s infinite;
  -ms-animation: z 5s linear 0s infinite;
  animation: z 5s linear 0s infinite;
}
#page0.status0 .main {
  opacity: 0;
  -webkit-transition: All 0.3s 0s;
  -moz-transition: All 0.3s 0s;
  -ms-transition: All 0.3s 0s;
  transition: All 0.3s 0s;
}

.page0 .title { margin-top:20%; z-index:1}
.water {
  opacity: 0;
  -webkit-animation: ico_fans_bg 1.7s infinite ease-in-out 1s;
  animation: ico_fans_bg infinite 1.7s ease-in-out 1s;
}
@-webkit-keyframes ico_fans_bg
{
	0%   { opacity:1; -webkit-transform:scale(1); }
	100% { opacity:0.1; -webkit-transform:scale(1.5); }
}
.mbtn { position:relative; width:40%; margin-left:30%; margin-top:50px; height:30%;}
.mbtn .img2 { z-index:4; top:0;} 
.mbtn .img1 { width:100%; position:absolute; top:28%; z-index:5; }
.mbtn .water { width:100%; position:absolute; top:22.5%;}
.page0 .logo { position:absolute; bottom:0; z-index:100;}
.page0 .bbg { position:absolute; bottom:0; z-index:14;}
.p1 { height:30%;}
.swiper-slide-active .p1 .a1 { position:absolute; z-index:1; top:5%; width:15%; height:50px; left:0;-webkit-animation: moveclouds 25s linear infinite; opacity:0.95}
.swiper-slide-active .p1 .a2 { position:absolute; z-index:2; top:20%; width:15%; height:50px; left:20%;-webkit-animation: moveclouds 30s linear infinite;}
.swiper-slide-active .p1 .a3 { position:absolute; z-index:3; top:50%; width:15%; height:50px; left:80%;-webkit-animation: moveclouds 35s linear infinite; opacity:0.93}
@-webkit-keyframes moveclouds {
 0% {
margin-left: 100%;
}
 100% {
margin-left: -100%;
}
}
.shining { position:relative; width:100%; height:100%;}
.shining div { width:42px; height:42px; position:absolute; opacity:0.9; border-radius:100%;}
.shining div.i1 { background:url(../images/star.png) no-repeat;left:40%; top:50%;opacity:0.6;}
.shining div.i2 { background:url(../images/star.png) no-repeat;left:50%; top:15%;opacity:0.2; background-size:30px;}
.shining div.i3 { background:url(../images/star.png) no-repeat;left:30%; top:17%;opacity:0.5}
.shining div.i4 { background:url(../images/star.png) no-repeat;left:15%; top:22%;opacity:0.3; background-size:20px;}
.shining div.i5 { background:url(../images/star.png) no-repeat;left:60%; top:27%;opacity:0.4; background-size:20px;}
.shining div.i6 { background:url(../images/star.png) no-repeat;right:10%; top:25%;opacity:0.8; background-size:20px;}
.shining div.i7 { background:url(../images/star.png) no-repeat;right:10%; top:46%;opacity:0.4}
.shining div.i8 { background:url(../images/star.png) no-repeat;left:63%; top:52%;opacity:0.3; background-size:20px;}
.shining div.i9 { background:url(../images/star.png) no-repeat;left:10%; top:54%;opacity:0.6; background-size:20px;}
.shining div.i10 { background:url(../images/star.png) no-repeat;left:63%; top:65%;opacity:0.7; background-size:25px;}
.shining div.i1 { -webkit-animation: shining02 1.5s infinite ease-in-out alternate; -moz-animation: shining02 1.5s infinite ease-in-out alternate; -o-animation: shining02 1.5s infinite ease-in-out alternate; animation: shining02 1.5s infinite ease-in-out alternate; -webkit-animation-delay: -1s; -moz-animation-delay: -1s; -o-animation-delay: -1s; animation-delay: -1s; }
.shining div.i1 { -webkit-animation: shining01 2s infinite ease-in-out alternate; }
.shining div.i2 { -webkit-animation: shining01 2s 0.5 infinite ease-in-out alternate; }
.shining div.i3 { -webkit-animation: shining01 2s 1 infinite ease-in-out alternate; }
.shining div.i4 { -webkit-animation: shining01 2s infinite ease-in-out alternate; }
.shining div.i5 { -webkit-animation: shining01 2s 0.5 infinite ease-in-out alternate; }
.shining div.i6 { -webkit-animation: shining01 2s 1 infinite ease-in-out alternate; }
.shining div.i7 { -webkit-animation: shining01 2s infinite ease-in-out alternate; }
.shining div.i8 { -webkit-animation: shining01 2s 0.5 infinite ease-in-out alternate; }
.shining div.i9 { -webkit-animation: shining01 2s 1 infinite ease-in-out alternate; }
.shining div.i10 { -webkit-animation: shining01 2s 1 infinite ease-in-out alternate; }
@-webkit-keyframes shining01 {
0% {opacity: 0.1;}
100% {opacity: 0.9;}
}
.da { position:absolute; z-index:17; bottom:0; width:37%; left:-17%; -webkit-animation:da 16s linear infinite forwards;}
.da1 { position:absolute; z-index:16; bottom:0; width:37%; left:-17%;}
@-webkit-keyframes da {
	0% { -webkit-transform:rotate(0deg)}
	100% { -webkit-transform:rotate(360deg)}	
}
.fengche {
  position: absolute;
  z-index: 17;
  bottom: 11.5%;
  width: 8%;
  left: 54.2%;
  -webkit-animation: fengche 10s linear infinite forwards;
}
.fengche1 {
  position: absolute;
  z-index: 16;
  bottom: 8.5%;
  width: 8%;
  left: 54.5%;
}
@-webkit-keyframes fengche {
	0% { -webkit-transform:rotate(0deg)}
	100% { -webkit-transform:rotate(360deg)}	
}
.people { height:50%;}
.people ul, .people ul li { height:100%;}
.swiper-container.swiper2 { height:52%;}
.page1,.page2 { background:url(bg2.jpg) no-repeat; background-size:100% 100%;}
.people .head { width:25%; margin:0 auto; margin-top:10px; border-radius:50%; overflow:hidden;}
.people h3 {color:#0bfafe; font-size:18px; padding:10px 0 4px 0; text-align:center}
.people .title {color:#0bfafe; font-size:13px; margin-bottom:16px; text-align:center}
.swiper2 { width:80%; margin:0 auto;}
.people p { line-height:160%; text-align:left;}
.people li { display:none}
.people li:first-child { display:block}
.name {  z-index:3;width:90%; margin:0 auto; position:relative;margin-top:20px; height:20%;}
.name li { background:url(circlebg.png) no-repeat center center; width:25%; background-size:95%; height:100px; text-align:center;display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center; float:left; font-size:18px; z-index:4}
.name li:first-child { margin-top:40px;}
.name li:last-child { margin-top:40px;}
.box { width:40%; margin:0 auto; margin-top:-50px; z-index:1; background:url(daoshi.png) no-repeat; background-size:100%; height:100%; position:relative}
.case { width:80%; margin:0 auto; margin-top:15%; line-height:150%; height:100%; text-align:left}
.case img { margin-top:10px;}
.case .title { background: url(border.png) no-repeat; width:45%; background-size:100%; margin:0 auto; height:44%; text-align:center;}
.swiper3 .swiper-wrapper, .swiper3 .swiper-slide { height:100%;}
.case .title .content { padding-top:60%; font-size:12px; color:#0bfafe}
.case .title .content h3 { font-size:18px; margin-bottom:10px;}
.swiper3 .swiper-slide { float:left}
.casename { position:absolute; bottom:8%; z-index:100; width:80%; left:10%;}
.casename li { width:33%; float:left; font-size:18px;}
.casename li.on { color:#0bfafe}
.share { width:25%; margin:0 auto; position:absolute; bottom:20px; left:37.5%;}
.popbg { position:fixed; background:#000; opacity:0.6;top:0;left:0;width: 100%;height: 100%;z-index: 100; display:none}
.pop {z-index: 101; position:fixed; top:0;left:0; height: 100%; display:none}



/*pc*/
@media only screen and (min-width:600px) {
	body {
		width: 600px;
		margin: 0 auto
	}
}
/*i6*/
@media only screen and (max-height: 667px){

}
/*i5*/
@media only screen and (max-height:568px) {
.swiper-container.swiper2 { height:47%;}
.case p { font-size:12px;}
.case img { position:relative; z-index:2}
.case { width:80%; margin:0 auto; margin-top:10%; line-height:120%; text-align:left}
.case .title .content { padding-top:60%; font-size:10px; color:#0bfafe}
.case .title { margin-top:-30px; position:relative; z-index:1; height:37%;}
.share { width:25%; margin:0 auto; position:absolute; bottom:0px; left:37.5%;}
.casename { position:absolute; bottom:10%; z-index:100; width:80%; left:10%;}
}
@media only screen and (max-height:568px) and (min-width:320px) {
.name li { font-size:16px;}
.case .title { margin-top:0px; position:relative; z-index:1; height:37%;}
.share { width:25%; margin:0 auto; position:absolute; bottom:20px; left:37.5%;}
.casename { position:absolute; bottom:10%; z-index:100; width:80%; left:10%;}
}
/*i4*/
@media only screen and (max-height:480px) and (min-width:320px) {
	.swiper-container.swiper2 { height:40%;}
	.name li { font-size:15px;}
	.case .title { margin-top:-30px; position:relative; z-index:1; height:37%;}
}