@charset "utf-8";
/* CSS Document */
html, body { width:100%; height:100%}
body, input, select { font-size: 12px; background: #fff; line-height: 100%; margin: 0;font-family:'微软雅黑',arial; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body, div, ul, li, p, span, h1, h2, h3, h4, h5, h6, img, form, table, tr, td, dl, dt, dd, input, select { margin: 0; padding: 0; }
div, ul, li { zoom: 1; }
ul, li, ol { list-style: none; list-style-type: none; }
img { border: 0 none; }
a { text-decoration: none; }
a:hover { text-decoration: none; }
a[href^=tel] { color: inherit; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; line-height: normal; font-style: normal; font-weight:normal; }
.clear { margin: 0; padding: 0; width: 0; height: 0; line-height: 0; font-size: 0; list-style: none; list-style-type: none; clear: both; zoom: 1; }
.q:after { content: "."; display: block; height: 0; clear: both; font-size: 0px; visibility: hidden; }
.both { clear: both; }
.left { display: inline; float: left}
.right { display: inline; float: right}
input[type='text'],input[type='button'],input[type='submit'], textarea { -webkit-appearance:none;border:none; background:none; outline:none;}
.noborder { border:none !important}
.nopadding{ padding:0 !important}
.nomargin{ margin:0 !important}
.anidemo { -webkit-animation: ademo 3s 1s linear infinite forwards; opacity:0; left:15px; }/*alternate*/
@-webkit-keyframes ademo {
	0% { -webkit-transform: translate(0px, 0px) rotate(-4deg) scale(0.8)}
	100% { -webkit-transform: translate(55px, 112px) rotate(4deg) scale(1)}	
}
.swiper-slide, .swiper-wrapper { height: 100%; position: relative; transform-style: preserve-3d; width: 100% }
.swiper-pagination, .swiper-wrapper { -webkit-transform: translate3d(0, 0, 0) }
.swiper-container { margin: 0 auto; position: relative; overflow: hidden; z-index: 1 }
.swiper-container-vertical>.swiper-wrapper { -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column }
.swiper-wrapper { z-index: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; -moz-transform: translate3d(0, 0, 0); -o-transform: translate(0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box }
.swiper-slide, .swiper-wrapper { -ms-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d }
.swiper-container-multirow>.swiper-wrapper { -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-fles-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap }
.swiper-container-free-mode>.swiper-wrapper { -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; margin: 0 auto }
.swiper-slide { -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0 }
.swiper-wp8-horizontal { -ms-touch-action: pan-y; touch-action: pan-y }
.swiper-wp8-vertical { -ms-touch-action: pan-x; touch-action: pan-x }
.swiper-container-coverflow .swiper-wrapper { -ms-perspective: 1200px }
.swiper-container { width: 100%; height: 100% }
.swiper-slide { text-align: center; }
.swiper-container-horizontal>.swiper-pagination { bottom: 10px; left: 0; width: 100% }
.swiper-pagination { position: absolute; text-align: center; -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms; transition: 300ms; -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 10 }
.swiper-pagination.swiper-pagination-hidden { opacity: 0 }
.swiper-pagination-bullet { width: 8px; height: 8px; display: inline-block; border-radius: 100%; background: #ccc; opacity: 0.3 }
.swiper-pagination-clickable .swiper-pagination-bullet { cursor: pointer }
.swiper-pagination-white .swiper-pagination-bullet { background: #fff }
.swiper-pagination-bullet-active { opacity: 1; background: #fff }
.swiper-pagination-white .swiper-pagination-bullet-active { background: #fff }
.swiper-pagination-black .swiper-pagination-bullet-active { background: #000 }
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet { margin: 0 3px; }
.guide{ background:url(guide.png) no-repeat; background-size:30px; height:30px;width:30px;position:absolute;left:50%;margin-left:-15px;bottom:10px;opacity: 0;-webkit-animation: guide 1.5s infinite alternate;-moz-animation: guide 1.5s infinite alternate;-o-animation: guide 1.5s infinite alternate;animation: guide 1.5s infinite alternate; cursor:pointer; z-index:100;}
@-webkit-keyframes guide {
	0% {-webkit-transform: translateY(10px);opacity: 0;}
	100% {-webkit-transform: translateY(0px);opacity: 1;}
}
@-moz-keyframes guide {
	0% {-webkit-transform: translateY(10px);opacity: 0;}
	100% {-webkit-transform: translateY(0px);opacity: 1;}
}
@-o-keyframes guide {
	0% {-webkit-transform: translateY(10px);opacity: 0;}
	100% {-webkit-transform: translateY(0px);opacity: 1;}
}
@keyframes guide {
	0% {-webkit-transform: translateY(10px);opacity: 0;}
	100% {-webkit-transform: translateY(0px);opacity: 1;}
}
/*loading*/
#loading {z-index: 11111111; width: 100%; height: 100%; text-align: center; background: #b9e9f7; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; position: absolute; left: 0; top: 0 }
.common_loading > div { width: 50px; height: 50px; background-color: #0CF; overflow: hidden; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 2s infinite ease-in-out; animation: bouncedelay 2s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.common_loading .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.common_loading .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}
.clogo { position: fixed; bottom: 10px; text-align: center; width: 100%; left: 0 }
.clogo img { width: 100px; }
.popbg { position:absolute; background:#000; opacity:0.6;top:0;left:0;width: 100%;height: 100%;z-index: 100; display:none}
.pop {z-index: 101; position:fixed; top:0;left:0; display:none; width:100%; height:100%;}
.hide { display:none}
.page0, .choose { background:url(bg.jpg) no-repeat; width:100%; height:100%; background-size:100% 100%;}
.page0 .img, .choose .img { padding-top:12%;}
.logo { position:absolute; bottom:10px; left:0;}
.img2 { width:55%; margin:auto;}

body{ overflow:hidden}
.people { height:50%;}
.people ul, .people ul li { height:100%;}
.swiper-container.swiper2 { height:52%;}
.page1,.page2 { background:url(bg2.jpg) no-repeat; background-size:100% 100%;}
.people .head { width:25%; margin:0 auto; margin-top:10px; border-radius:50%; overflow:hidden;}
.people h3 {color:#0bfafe; font-size:18px; padding:10px 0 4px 0; text-align:center}
.people .title {color:#0bfafe; font-size:13px; margin-bottom:16px; text-align:center}
.swiper2 { width:80%; margin:0 auto;}
.people p { line-height:160%; text-align:left;}
.people li { display:none}
.people li:first-child { display:block}
.name {  z-index:3;width:90%; margin:0 auto; position:relative;margin-top:20px; height:20%;}
.name li { background:url(circlebg.png) no-repeat center center; width:25%; background-size:95%; height:100px; text-align:center;display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center; float:left; font-size:18px; z-index:4}
.name li:first-child { margin-top:40px;}
.name li:last-child { margin-top:40px;}
.box { width:40%; margin:0 auto; margin-top:-50px; z-index:1; background:url(daoshi.png) no-repeat; background-size:100%; height:100%; position:relative}
.question li { display:none; z-index:10; position:relative;}
.question li:first-child { display:block}
.answer { position: relative; width:auto; margin:0 10%; height:100%;}
.answer li { width:24%; height:30%; position:absolute; left:0; top:0; z-index:2}
.answer li:nth-child(1) {}
.answer li:nth-child(2) { top:25%;}
.answer li:nth-child(3) { left:35%; top:12%;}
.answer li:nth-child(4) { left:73%}
.answer li:nth-child(5) { left:73%; top:25%;}
.question li.on { width:20%}
.qbox {
  width: 100%;
  height: 100%;
  background: red;
  position:absolute;
  z-index:100;
}
.qbox.on {-webkit-animation: qbox 0.1s linear forwards;}
@-webkit-keyframes qbox {
	0% { -webkit-transform: scale(1)}
	100% { -webkit-transform: scale(0.4)}	
}







/*pc*/
@media only screen and (min-width:600px) {
	body {
		width: 600px;
		margin: 0 auto
	}
}
@media only screen and (max-height:520px){
.page0 .img, .choose .img {
  padding-top: 6%;
}
.img2 {
  width: 47%;
  margin: auto;
}
}
/*i6*/
@media only screen and (max-height: 667px){

}
/*i5*/
@media only screen and (max-height:568px) and (min-width:320px) {

}
/*i4*/
@media only screen and (max-height:480px) and (min-width:320px) {
}