<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>头条详情</title>
    <link href="../../css/yytt/style.css" rel="stylesheet" type="text/css">
    <style>
        .loading1,.loading1_empty{text-align:center;padding-bottom:10px;height:32px;line-height:32px;position:relative;}
        .loading1_icon{position:absolute;top:2px;left:50%;margin-left:-16px;width:24px;height:24px;border:2px solid #237FE5;border-radius:24px;-webkit-animation:loading1 1s infinite linear;clip:rect(0 auto 12px 0);}
        @-webkit-keyframes loading1{
            0%{-webkit-transform:rotate(0deg);}
            100%{-webkit-transform:rotate(360deg);}
        }
        #scrollBox{/*height:100%;*/height:400px;border-bottom:1px solid #ccc;overflow:auto;-webkit-overflow-scrolling:touch;}
        .hide{display: none;}
        /*.topLocation{position: fixed;top:0;z-index: 2;background: #fff;width: 100%;}*/
    </style>
</head>

<body>
    <div class="clear"></div>
    <div class="particle adetail" >
        <div class="p15" >
            <h1>手机支付渗透生活:周围人都用小商贩称不用“吃亏”</h1>
            <span class="info_data">2017-06-07 14:03</span>
            <div class="clear"></div>
            <div class="adetailinfo">
                <p>近日，一篇“中国移动(微博)支付震惊日本网友”的文章引起网友热议。中新网在实地调查中也发现，中国的移动支付（也叫手机支付）渗透率确实很高，有小商贩甚至坦言，不支持移动支付连生意都会受到影响。那中国的移动支付为什么这么强？使用时在安全方面应该注意哪些事项呢？</p>
                <img src="http://img.easyrong.dev/2017/yun/images/temp/15.jpg">
                <p>在北京某所高校门口，每当夜色降临，几十家小商贩就开着电动三轮车聚拢于此，麻辣烫、扬州炒饭、铁板鱿鱼、热干面等，各色小吃一应俱全，种类不一。但是有一点相同，都支持支付宝和微信的扫码支付，塑封的二维码都贴在摊子的显眼位置。</p>
                <p>“用现金的人很少了，八成以上的顾客都是扫码支付。”某出售热干面的小商贩对中新网说，来这儿吃东西的人大部分使用的都是微信支付。</p>
                <p>至于为什么非要支持扫码支付？该商贩说：“周围商家都在用，你不用生意就会受到影响，因为有些人不带现金，你不支持扫码支付顾客就走了。况且用起来也很简单，把收款的二维码打印下来就行，不费事儿。”</p>
                <p>中新网了解到，目前身上不带现金成为了很多人的新习惯，在这种情况下，不能提供移动支付服务已经成为商户的短板。</p>
            </div>
            <div class="yunline yunline2"></div>
        </div>
        <div class="blank1"></div>
        <div class="pl15" >
            <div class="title">评论（26）</div>
            <div class="commentlist " id="scrollBox">
                <ul id="result">
                    <!-- 
                    <li>
                        <div class="info pr15"><span class="author"><img src="http://img.easyrong.dev/2017/yun/images/temp/default.png">柳如溪杂言<span class="tag tag1">投资人</span></span>
                            <span class="touchgood"><i class="goodicon"></i>18</span>
                        </div>
                        <p class="normal pr15">非常感谢诸老师的开导和建议。 此次交流的最大收获是学习了考虑事情的方法，如何做出客观理性的选择。</p>
                        <span class="date pr15">25分钟前</span>
                    </li>
                    <li>
                        <div class="info pr15"><span class="author"><img src="http://img.easyrong.dev/2017/yun/images/temp/default.png">柳如溪杂言<span class="tag tag2">企业</span></span><span class="touchgood"><i class="goodicon"></i>18</span>
                        </div>
                        <p class="normal pr15">作者文章是写得非常清晰的</p>
                        <span class="date pr15">25分钟前</span>
                    </li>
                    <li>
                        <div class="info pr15"><span class="author"><img src="http://img.easyrong.dev/2017/yun/images/temp/default.png">柳如溪杂言<span class="tag tag3">债权机构</span></span><span class="touchgood"><i class="goodicon"></i>18</span>
                        </div>
                        <p class="normal pr15">作者文章是写得非常清晰的</p>
                        <span class="date pr15">25分钟前</span>
                    </li>
                    <li>
                        <div class="info pr15"><span class="author"><img src="http://img.easyrong.dev/2017/yun/images/temp/default.png">柳如溪杂言<span class="tag tag4">园区</span></span><span class="touchgood"><i class="goodicon"></i>18</span>
                        </div>
                        <p class="normal pr15">作者文章是写得非常清晰的</p>
                        <span class="date pr15">1天前</span>
                    </li> -->
                </ul>
                <div class="loading1" id="loading1"><i class="loading1_icon"></i></div>
                <div class="loading1_empty hide" id="loading1_empty">没有更多内容了~</div>
            </div>
            <i class="circle"></i>
        </div>
    </div>
    <div class="good_background"></div>
    <div class="dialog_good">
        <img src="../../images/yytt/okay.png">
        <p></p>
    </div>
    <!-- <div class="blank2"></div> -->
    <script src="../../js/yytt/jquery.js"></script>
    <script src="../../js/yytt/easy.js"></script>
    <script src="../../js/yytt/js.js"></script>
    <script>
        var commentlist;
        $(function() {
            search(0);
            var h = $(window).height();
            /*$('#scrollBox').height(h);*/
            $('#scrollBox').waterfall({
                scrollBox:'#result',
                moreHeight:0,
                callback: function() {
                    var num=$('#result li').length;
                    
                    search(num);
                }
            });
        })
        /*var titleTop = $('.pl15 > .title').offset().top;
        $('#scrollBox').scroll(function(){
            var node = $('.pl15 > .title');
            console.log($(this).scrollTop());
            if($(this).scrollTop()>=titleTop){
                node.addClass('topLocation');
            }else{
                node.removeClass('topLocation');
            }
        });*/
        function search(num) {
            $.ajax({
                url: 'songs.json',
                type: 'get',
                dataType: 'json',
                data: {
                    'num': num
                },
                success: function(r) {
                    commentlist = r;
                    /*console.log(commentlist.length);*/
                    $('#result').tmpl('tmpl', commentlist);
                    if (commentlist.length < 10) {
                        $('#loading1').hide();
                        $('#loading1_empty').show();
                    };
                },
                error:function(e){
                    $('#loading1').hide();
                    $('#loading1_empty').show();
                }
            });
        };
    </script>
    <!-- json格式
    [{
          "imgurl": 头像图片地址,
          "username": 评论者名,
          "usertag": 评论者身份,0-投资人，1-企业，2-债权机构，3-园区
          "goodicon":是否点赞,0-未点赞，1-点赞
          "goodnum":点赞个数
          "comment":评论内容,
          "pubdata":评论发布时间
    }]
     -->
    <script type="text/html" id="tmpl">
    <% for ( var i = 0; i < commentlist.length; i++ ) { 
        var e = commentlist[i];
    %>
        <li><div class="info pr15"><span class="author"><img src="<%=e.imgurl%>"><%=e.username%>

        <% if(e.usertag == 0) {%>
        <span class="tag tag1">投资人</span>
        <% }%>
        <% if(e.usertag == 1) {%>
        <span class="tag tag2">企业</span>
        <% }%>
        <% if(e.usertag == 2) {%>
        <span class="tag tag3">债权机构</span>
        <% }%>
        <% if(e.usertag == 3) {%>
        <span class="tag tag4">园区</span>
        <% }%>
        </span><span class="touchgood">
        <% if(e.goodicon == 0) {%>
        <i class="goodicon">
        <% } else{%>
        <i class="goodicon touched">
        <% }%>           
        </i><%=e.goodnum%></span>
        </div>
        <p class="normal pr15"><%=e.comment%></p>
        <span class="date pr15"><%=e.pubdata%></span>
        </li>
    <% } %>
</script>
</body>

</html>