/* 清除浮动 */

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    height: 0;
    clear: both;
}

.ui-helper-clearfix:after {
    zoom: 1;
}


/* 背景图和交互状态 */

.ui-icon {
    display: block;
    background-position: no-repeat;
    text-indent: -99999px;
    overflow: hidden;
}

.ui-widget-header .ui-icon {
    width: 6px;
    height: 10px;
    background-image: url('../styImg/datepicker.png');
}

.ui-widget-header .ui-arrow-r {
    background-position: -6px 0;
}

.ui-widget-header .ui-datepicker-prev-hover .ui-arrow-l {
    background-position: 0 -10px;
}

.ui-widget-header .ui-datepicker-next-hover .ui-arrow-r {
    background-position: -6px -10px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    color: #54708b;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #e9edf0;
    border-radius: 50%;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background: #f66;
    color: #fff;
    border-radius: 50%;
}

.ui-state-disabled {
    cursor: default !important;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: alpha(opacity=35);
}


/*主体样式*/

.ui-datepicker {
    display: none;
    width: 238px;
    margin-top: 2px;
    background: #fff;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    font: 13px tahoma, '\5fae\8f6f\96c5\9ed1', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    height: 50px;
    background: #f66;
    font-weight: 700;
    font-size: 14px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.ui-datepicker .ui-datepicker-prev {
    left: 10px;
}

.ui-datepicker .ui-datepicker-next {
    right: 10px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -3px;
    margin-top: -5px;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    background: #e55c5c;
}

.ui-datepicker .ui-datepicker-title {
    margin: 10px 45px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    border: 1px solid #f66;
    outline: none;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}

.ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5px;
}

.ui-datepicker th {
    line-height: 30px;
    font-weight: 500;
    color: #54708b;
}

.ui-datepicker td {
    text-align: center;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: inline-block;
    width: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
}

.ui-datepicker th.ui-datepicker-week-end {
    font-weight: 700;
}
