/*@media screen and (min-width:1200px) and (max-width:1536px){
	.quit{margin-right:15px;font-size:14px;}
	.changepwd{margin-right:10px;}
	.txl{margin-right:-1px;}
	.server{margin-right:7px}
	.yuanqu{font-size:23px;margin:20px 0 0 19px;}
	.info{margin-right:7px;}
}
@media screen and (min-width:1024px) and (max-width:1200px){
	.quit{margin-right:15px;font-size:14px;}
	.changepwd{margin-right:10px;background-position:10px;font-size:14px;padding-left:33px;padding-right:13px;}
	.txl{margin-right:-1px;}
	.server{margin-right:0px;}
	.yuanqu{font-size:20px;margin-left:18px;padding-left:45px;}
	.info{width:85px;margin-right:0px;padding-left:0px;padding-right:2px;}
	.info img{padding-left:9px;padding-top:19px;width:54px;}
}
@media screen and (max-width:1024px){
	.quit{margin-right:15px;font-size:14px;}
	.changepwd{margin-right:10px;background-position:10px;font-size:14px;padding-left:33px;padding-right:13px;}
	.txl{margin-right:-1px;}
	.server{margin-right:0px;}
	.yuanqu{font-size:20px;margin-left:18px;padding-left:45px;}
	.info{width:85px;margin-right:0px;padding-left:0px;padding-right:2px;}
	.info img{padding-left:9px;padding-top:19px;width:54px;}
}
@media screen and (max-width:1174px){
	.form_addPeopleSearch .sbtn{margin-left:2.5%;}
}*/