@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-06-13 15:17:29
 * @version $Id$
 */


.zaiti-title{
	height: 38px;
	margin:0 auto 25px auto;
	width: 90%;
}
.zaiti-title h3{
	float: left;
	font-size: 24px;
	color: #1f2a38;
	font-weight: normal;
	line-height: 38px;
}
.zaiti-title a{
	display: block;
	float: right;
	height: 38px;
	width: 140px;
	border-radius: 10px;
	background: #399bff;
	font-size: 20px;
	color: #fff;
	line-height: 38px;
	text-align: center;
}

.zaiti-box{
	width: 90%;
	background: #fff;
	border:1px solid #ddd;
	margin: 0 auto;
}

.zaiti-nav{
	height: 61px;
}
.zaiti-nav li{
	float: left;
	width: 249px;
	border-right: 1px solid #ddd;
	height: 61px;
}
.zaiti-nav li a{
	display: block;
	font-size: 18px;
	color: #333;
	height: 58px;
	border-top: 3px solid #fff;
	line-height: 58px;
	text-align: center;
}
.zaiti-nav li a.cur, .zaiti-nav li a:hover{
	border-top: 3px solid #ff4800;
	color: #ff4800
}

.zaiti-content{
	border-top: 1px solid #ddd;
	padding: 35px 0 0 120px;
}

.zaiti-message li{
	margin-bottom: 20px;
	font-size: 16px;
	color: #333;
	overflow: hidden;
}
.zaiti-message li em{
	display: block;
	float: left;
	line-height: 38px;
	font-style: normal;
	width: 180px;
	text-align: right;
	margin-right: 15px;
}
.zaiti-message li i{
	color: #ff0000;
	font-style: normal;
	margin-right: 5px;
}
.input{
	float: left;
	height: 36px;
	width: 228px;
	border:1px solid #dddddd;
	background: #e4eaf0;
	position: relative;
	margin-right: 15px;
}
.input input{
	float: left;
	width: 180px;
	height: 36px;
	outline: none;
	border:none;
	font-size: 14px;
	color: #333;
	padding: 0 0 0 10px;
	background: none;
}
.input b{
	display: none;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 5px;
	right: 5px;
}
b.error-icon{
	background: url('../styImg/error-icon.png') no-repeat;
}
.zaiti-message li label{
	float: left;
	line-height: 38px;
	color: #333;
	margin-right: 15px;
	font-size: 14px;
}
.zaiti-message li label input{
	margin-right: 5px;
}
.zaiti-message li select{
	float: left;
	height: 36px;
	border:1px solid #ddd;
	width: 80px;
	margin-right: 15px;
}
.zaiti-message li p{
	line-height: 38px;
	color: #666;
	float: left;
}
.zaiti-message li textarea{
	resize:none;
	height: 100px;
	width: 400px;
	padding: 10px;
	font-size: 14px;
	color: #666;
	line-height: 180%;
	outline: none;
	background: #e4eaf0;
	border:1px solid #ddd;
}

.choice-box{
	clear: both;
	border:1px solid #ddd;
	padding: 20px 25px 0 25px;
	width: 450px;
	margin-left: 190px;
	overflow: hidden;
}
.choice-box .input{
	margin-bottom: 20px;
}

.confrim-btn{
	display: block;
	background: #ff4800;
	width: 140px;
	height: 40px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	line-height: 40px;
	margin-left: 195px;
	margin-top: 40px;
	margin-bottom: 100px;
}

.change-btn{
	float: left;
	display: block;
	width: 98px;
	height: 30px;
	border-radius: 10px;
	background: #399bff;
	font-size: 16px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	margin-left: 40px;
}
.change-box{
	display: none;
}
.change-box h3{
	font-size: 22px;
	margin: 40px 0 40px 0;
	font-weight: normal;
	line-height: 30px;
	color: #333;
}
.get-code{
	display: block;
	float: left;
	width: 110px;
	height: 34px;
	background: #ff4800;
	font-size: 16px;
	color: #fff;
	line-height: 34px;
	text-align: center;
	border-radius: 10px;
}

.get-code-finish{
	background: #b2b2b2
}


/*报错*/
.error{
	border:1px solid #ff2e2e;
	background: #ffe8ea;
}
.error input{
	color: #ff2a00
}
.error b{
	display: block;
}


/*介绍*/
.intro-box{
	padding: 0 90px 50px 0;
}
a.c-btn{
	float: right;
	width: 98px;
	height: 28px;
	display: block;
	border-radius: 10px;
	background: #ff4800;
	font-size: 16px;
	color: #fff;
	line-height: 28px;
	text-align: center;
	margin-bottom: 30px;
}
.intro-content{
	border:1px solid #ddd;
	background: #e4eaf0;
	padding: 15px;
	font-size: 16px;
	color: #939dae;
	line-height: 30px;
	clear: both
}
.editor{
	display: none;
}
.save-btn{
	width: 100px;
	height: 34px;
	display: block;
	border-radius: 10px;
	background: #ff4800;
	font-size: 16px;
	color: #fff;
	line-height: 34px;
	text-align: center;
	margin: 30px 0 50px 0;
}

.table{
	width: 95%;
	margin-bottom: 50px;
	margin-left: -2.5%
}
.table th{
	height: 44px;
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 44px;
	background: #e8ecf3;
	width: 20%;
}
.table td{
	text-align: center;
	padding: 20px 10px;
	border-bottom: 1px solid #ddd
}
.table td p{
	color: #333;
}
.table td a{
	display: inline-block;
	width: 98px;
	height: 27px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 27px;
	border-radius: 10px;
}
.editor-btn{
	background: #399bff
}
.confrim-btn2{
	background: #ff4800
}
.delete-btn, .cancel-btn{
	background: #315787
}

.add-btn{
	display: block;
	width: 130px;
	height: 38px;
	background: #ff4800;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 38px;
	border-radius: 10px;
	margin: 0 auto 50px auto;
}

.table td input{
	width: 168px;
	height: 38px;
	border:1px solid #ddd;
	background: #e4eaf0;
	padding: 0 10px;
	font-size: 16px;
	color: #939dae;
	line-height: 38px;
	text-align: center;
}
.business, .num, .money, .img, .btn{
	display: none;
}

.upload{
	width: 190px;
	height: 130px;
	background: #e4eaf0;
	border:1px solid #ddd;
	margin: 0 auto;
}
.upload label{
	display: block;
	width: 62px;
	height: 62px;
	background: url('../styImg/add-icon.png') no-repeat;
	margin: 34px auto;
}
.upload input{
	display: none;
}