<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>张家港市金融机构在线申报系统</title>
    <link href="../static/css/datepicker.css" rel="stylesheet">
    <link href="../static/css/easy.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="mcontent login_style">
        <div class="header">
            <div class="title"> 张家港市金融机构在线申报系统<img style="display: inline-block" src="../static/images/changxing-icon.png" width="70" height="27" alt="" /></div>
            <div class="rnav">
                <ul>
                    <li class="quit"><a href="javascript:void(0)">退出登录</a></li>
                    <li class="contact"><a href="#">通讯录</a><i></i></li>
                    <li class="service"><a href="javascript:void(0)">客户服务</a><i></i></li>
            </div>
            <div class="dialog dialog_service dialog_style"> <a href="#" class="dclose">&nbsp;</a>
                <div class="title">
                    <h3>客户服务</h3>
                </div>
                <div class="dcontent">
                    <form class="form form_reason" id="serviceform">
                        <ul>
                            <li>
                                <label>您好！请将您的意见、需求、建议或投诉内容告诉我们。我们的服务专员会尽快跟您联系。如您的问题比较紧急，请致电服务热线：400-6520-060</label>
                            </li>
                            <li>
                                <textarea id="server_content" placeholder="请输入您的意见和建议（100字以内）" cols="100" required maxlength="100"></textarea>
                                <div class="msg">请输入内容</div>
                            </li>
                        </ul>
                        <div class="dbtn"><a class="dokay_pass" style="margin: 0;">确定通过</a></div>
                    </form>
                </div>
            </div>
        </div>
        <!--中间内容-->
        <div class="top">
            <div class="back2 back3"><img src="../static/images/back.png" width="26" height="26" alt="" />
                <p>返回</p>
            </div>
            <div class="btns_index">
                <a href="#">首页</a>><a href="#">公告列表</a>
            </div>
        </div>
        <div class="mbox">
            <div class="article3 noticebox">
                <div class="box">
                    <ul>
                        <li>
                            <i></i>
                            <div class="notice_box">
                                <p><span class="gray1">新增一条</span>“张家港市金融机构在线申报须知”公告</p>
                                <p><a href="#">立即查看>></a><span class="date">2017-04-22 10:39:22</span> </p>
                            </div>
                        </li>
                        <li>
                            <i></i>
                            <div class="notice_box">
                                <p><span class="gray1">新增一条</span>“张家港市金融机构在线申报须知”公告</p>
                                <p><a href="#">立即查看>></a><span class="date">2017-04-22 10:39:22</span> </p>
                            </div>
                        </li>
                        <li>
                            <i class="on"></i>
                            <div class="notice_box">
                                <p><span class="gray1">新增一条</span>“张家港市金融机构在线申报须知”公告</p>
                                <p><a href="#">立即查看>></a><span class="date">2017-04-22 10:39:22</span> </p>
                            </div>
                        </li>
                        <li>
                            <i class="on"></i>
                            <div class="notice_box">
                                <p><span class="gray1">新增一条</span>“张家港市金融机构在线申报须知”公告</p>
                                <p><a href="#">立即查看>></a><span class="date">2017-04-22 10:39:22</span> </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
 
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/easy.js"></script>
    <script src="../static/js/jquery.validate.js"></script>
    <script src="../static/js/datepicker.js"></script>
    <script src="../static/js/js.js"></script>
    <script>
    //关闭按钮
    $(document).on('click', '.close_notice', function() {
        $(this).closest('li').remove();
    })
    </script>
</body>

</html>