<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>张家港市金融机构在线申报系统</title>
    <link href="../../static/css/datepicker.css" rel="stylesheet">
    <link href="../../static/css/easy.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/style.css" rel="stylesheet">
</head>

<body>
    <!--左侧-->
    <div class="left-nav">
        <div class="head-img"> <img src="../../static/images/head.jpg" height="122" width="122" alt="">
            <p>欢迎您：137***2129</p>
            <a class="member">会员中心</a>
        </div>
        <ul>
            <a href="#">
                <li class="on"><i class="icon3"></i>申报管理</li>
            </a>
            <a href="#">
                <li><i class="icon6"></i>数据统计</li>
            </a>
            <a href="#">
                <li><i class="icon2"></i>公告管理</li>
            </a>
            <a href="#">
                <li><i class="icon1"></i>报表信息</li>
            </a>
        </ul>
    </div>
    <div class="mcontent">
        <div class="header">
            <div class="title"> 张家港市金融机构在线申报系统<img style="display: inline-block" src="../../static/images/changxing-icon.png" width="70" height="27" alt="" /></div>
            <div class="rnav">
                <ul>
                    <li class="quit"><a href="javascript:void(0)">退出登录</a></li>
                    <li class="contact"><a href="#">通讯录</a><i></i></li>
                    <li class="service"><a href="javascript:void(0)">客户服务</a><i></i></li>
                </ul>
            </div>
            <div class="dialog dialog_service"> <a href="#" class="dclose">&nbsp;</a>
                <div class="title">
                    <h3>客户服务</h3>
                </div>
                <div class="dcontent">
                    <form class="form form_reason" id="serviceform">
                        <ul>
                            <li>
                                <label>您好！请将您的意见、需求、建议或投诉内容告诉我们。我们的服务专员会尽快跟您联系。如您的问题比较紧急，请致电服务热线：400-6520-060</label>
                            </li>
                            <li>
                                <textarea id="server_content" placeholder="请输入您的意见和建议（100字以内）" cols="100" required maxlength="100"></textarea>
                            <div class="msg">请输入内容</div>
                            </li>
                        </ul>
                        <div class="dbtn"><a class="dokay_pass" style="margin: 0;">确定通过</a></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="top">
            <div class="back2"><img src="../../static/images/back.png" width="26" height="26" alt="" />
                <p>返回</p>
            </div>
            <div class="btns">
                <a href="#" class="on">表1</a><a href="#">表2</a><a href="#" class="last">表3</a>
            </div>
        </div>
        <div class="mbox">
            <div class="t1">
                <h1>月融资总量统计表</h1></div>
            <form class="myform Threeform" id="form1">
                <div class="topLine toplincheck">
                    <ul>
                        <li>
                            <label>填表人：</label>
                            <span>万达路</span>
                        </li>
                        <li>
                            <label>所在银行：</label>
                            <span>张家港银行A</span>
                        </li>
                        <li style="width:auto">申报月份：2017年10月17日</li>
                    </ul>
                    <div class="clear"></div>
                    <div class="noteimg"><img src="../../static/images/form1_note.png" width="50" height="50" alt="" /></div>
                    <div class="text">1、银团贷款：此项只填由本行牵头的异地银行在我市投放的贷款数额，具体内容须在备注中说明。
                        <br> 2、此表于每月2日前报送，如遇节假日，则节后第一个工作日报送。
                    </div>
                </div>
                <div class="clear"></div>
                <div class="tablebox table_style table_text" style="margin-top: 30px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="title">
                                <td>分类</td>
                                <td>项目</td>
                                <td>余额（单位：亿元）</td>
                                <td>比年初增加（单位：亿元）</td>
                                <td>比上月增加（单位：亿元）</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tab_subtitle">一、本外币贷款</td>
                                <td>其中：票据融资</td>
                                <td>1212</td>
                                <td>120.12</td>
                                <td>120.12</td>
                            </tr>
                            <tr>
                                <td class="tab_subtitle" rowspan='9'>二、表外业务</td>
                                <td>1、银行承兑汇票</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>其中:敞口</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>2、信用证</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>其中：敞口（6月、12月填报，其余月份不填）</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>3、开出备用信用证</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>4、保函</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td> 其中：敞口（6月、12月填报，其余月份不填）</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>5、海外代付</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            
                            <tr>
                                <td>6、其他</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td class="tab_subtitle" rowspan='4'>三、直接融资</td>
                                <td>1、短期融资券</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>2、中期票据</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>3、代理发行债券</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>4、其他</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td class="tab_subtitle" rowspan='4'>四、其他融资方式</td>
                                <td>1、信贷资产转让</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>2、银团贷款（填写注意事项见备注）</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>3、租赁</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr>
                                <td>4、信托</td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                            <tr class="total_tr">
                                <td>总额</td>
                                <td></td>
                                <td>636</td>
                                <td>634</td>
                                <td>634</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="submitBtn">导出</div>
        </div>
    </div>
    </div>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/easy.js"></script>
    <script src="../../static/js/datepicker.js"></script>
    <script src="../../static/js/jquery.validate.js"></script>
    <script src="../../static/js/datepicker.js"></script>
    <script src="../../static/js/js.js"></script>   
</body>

</html>