
.dd_details {
	overflow: hidden;
}
.dd_details h3 {
	font-size: 14px;
	padding: 15px;
}
.dd_details ul li {
	line-height: 30px;
}
.dd_details ul li label {
	width: 15%;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}
.dd_details>div {
	margin-top: 10px;
	padding-left: 15%;
	padding-right: 20px;
}
.btn1 {
	padding: 0;
	display: block;
	width: 75px;
	height: 30px;
	margin-left: 15%;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
	line-height: 30px;
}
.close >span{
	line-height: 35px;
	line-height: 35px;
    font-size: 20px;
}
.close_sty {
	font-size: 13px;
	text-align: center;
	line-height: 13px;
	color: blue;
	font-weight: normal;
	opacity: 1;
	margin-top: 5px;
}
.modal-dialog1 {
	min-width: 600px;
	width: auto;
}
.modal-title {
	width: 30%;
	float: left;
	font-style: 13px;
}
.modal-header h4{
	font-size: 12px;
	color: #669fc7;
	display: inline;
	line-height: 32px;
}
.operation {
	width: 100%;
}
.operation td, .operation th {
	min-width: 20%;
	width: auto;
	overflow: hidden;
	padding: 10px 10px 10px 0;
}
.operation input, .rig-bot_wrapp input {
	width: 80px;
	border: 1px solid #d5d5d5;
	color: black;
}
.operation a {
	display: block;
	    color: #00adee;
	cursor: pointer;
	float: left;
	margin-right: 10px;
	line-height: 30px;
	    margin-left: 5px;
}
.operation .goods_serach {
	width: 204px;
	border-radius: 15px !important;
	background: url(6.png) no-repeat 5px center !important;
	border: 1px solid #d5d5d5;
	float: left;
	background-size: 8% !important;
	text-align: left;
	text-indent: 20px;
}
.more1 {
	width: 16%;
	text-align: center;
	line-height: 30px;
}
.add2 {
	background: #00adee;
	width: 80px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	margin-top: 5px;
}
.space2 {
	width: 100%;
	margin-top: 10px;
	border-bottom:1px solid #CCC;
}
.rig-bot_wrapp ul li {
	padding: 10px 0 10px 0;
}
.rig-bot_wrapp label {
	width: 80%;
	text-align: right;
	margin-right: 10px;
}
.rig-bot_wrapp ul li:nth-child(3), .rig-bot_wrapp ul li:nth-child(3) >label {
	font-weight: bold;
}
.modal-footer2 {
	padding-bottom: 14px;
	width: 40%;
	margin: 0 auto;
	overflow: hidden;
}
.btn-left, .btn-right {
	background: #00adee;
	width: 80px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	border: none;
	padding: 0;
}
.btn-left {
	float: left;
}
.btn-right {
	float: right;
}