@charset "utf-8";
/* CSS Document */
html, body { width: 100%; height: 100%; overflow: hidden }
body, input, select { font-size: 12px; background: #fff; line-height: 100%; margin: 0; font-family: '微软雅黑', arial; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body, div, ul, li, p, span, h1, h2, h3, h4, h5, h6, img, form, table, tr, td, dl, dt, dd, input, select { margin: 0; padding: 0; }
div, ul, li { zoom: 1; }
ul, li, ol { list-style: none; list-style-type: none; }
img { border: 0 none; }
a { text-decoration: none; }
a:hover { text-decoration: none; }
a[href^=tel] { color: inherit; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; line-height: normal; font-style: normal; font-weight: normal; }
.clear { margin: 0; padding: 0; width: 0; height: 0; line-height: 0; font-size: 0; list-style: none; list-style-type: none; clear: both; zoom: 1; }
.q:after { content: "."; display: block; height: 0; clear: both; font-size: 0px; visibility: hidden; }
.both { clear: both; }
.left { display: inline; float: left }
.right { display: inline; float: right }
input[type='text'], input[type='button'], input[type='submit'], textarea { -webkit-appearance: none; border: none; outline: none; }
.vcenter { display: -webkit-box; -webkit-box-pack: center; -webkit-box-align: center; }

/*::-webkit-input-placeholder { color:#999;}
a, img { -webkit-touch-callout: none;}
html, body { -webkit-user-select: none; user-select: none;}
overflow:auto;-webkit-overflow-scrolling: touch;
*/
.noborder { border: none !important }
.nopadding { padding: 0 !important }
.nomargin { margin: 0 !important }
.anidemo { -webkit-animation: ademo 3s 1s linear infinite forwards; opacity: 0; left: 15px; }

/*alternate*/
@-webkit-keyframes ademo {
  0% { -webkit-transform: translate(0px, 0px) rotate(-4deg) scale(0.8) skew(45deg, 45deg); -webkit-transform-origin: 100% 0%; }
  100% { -webkit-transform: translate(55px, 112px) rotate(4deg) scale(1) }
}
.guide { background: url(guide.png) no-repeat; background-size: 30px; height: 30px; width: 30px; position: absolute; left: 50%; margin-left: -15px; bottom: 10px; opacity: 0; -webkit-animation: guide 1.5s infinite alternate; -moz-animation: guide 1.5s infinite alternate; -o-animation: guide 1.5s infinite alternate; animation: guide 1.5s infinite alternate; cursor: pointer; z-index: 100; }
@-webkit-keyframes guide {
  0% { -webkit-transform: translateY(10px); opacity: 0; }
  100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@-moz-keyframes guide {
  0% { -webkit-transform: translateY(10px); opacity: 0; }
  100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@-o-keyframes guide {
  0% { -webkit-transform: translateY(10px); opacity: 0; }
  100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes guide {
  0% { -webkit-transform: translateY(10px); opacity: 0; }
  100% { -webkit-transform: translateY(0px); opacity: 1; }
}

/*loading*/
#loading { z-index: 11111111; width: 100%; height: 100%; text-align: center; background: #b9e9f7; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; position: absolute; left: 0; top: 0 }
.common_loading > div { width: 50px; height: 50px; background-color: #0CF; overflow: hidden; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 2s infinite ease-in-out; animation: bouncedelay 2s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.common_loading .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.common_loading .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
.clogo { position: fixed; bottom: 10px; text-align: center; width: 100%; left: 0 }
.clogo img { width: 100px; }
.popbg { position: absolute; background: #000; opacity: 0.6; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; display: none }
.pop { z-index: 101; position: fixed; top: 0; left: 0; display: none; width: 100%; height: 100%; }
.hide { display: none }
.play { background: url(music_on.png) no-repeat; background-size: 100%; z-index: 10001; position: absolute; right: 5%; top: 3%; width: 34px; height: 34px; }
.play.off { background: url(music_off.png) no-repeat; background-size: 100%; }
@-webkit-keyframes flyLeft {
  0% { -webkit-transform: translate(-100%, 0); }
  100% { -webkit-transform: translate(0, 0) }
}
@-webkit-keyframes flyRight {
  0% { -webkit-transform: translate(100%, 0); }
  100% { -webkit-transform: translate(0, 0) }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; height: 0 }
}
@-webkit-keyframes scale {
  0% { -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(1) }
}
@-webkit-keyframes shake1 {
  0% { -webkit-transform: rotate(0deg) }
  5% { -webkit-transform: rotate(-5deg) }
  10% { -webkit-transform: rotate(0deg) }
  15% { -webkit-transform: rotate(5deg) }
  20% { -webkit-transform: rotate(0deg) }
  25% { -webkit-transform: rotate(-5deg) }
  30% { -webkit-transform: rotate(0deg) }
  35% { -webkit-transform: rotate(5deg) }
  40% { -webkit-transform: rotate(0deg) }
  45% { -webkit-transform: rotate(-5deg) }
  50% { -webkit-transform: rotate(0deg) }
  55% { -webkit-transform: rotate(5deg) }
  60% { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(0deg) }
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.05, 1.05, 1.05); transform: scale3d(1.05, 1.05, 1.05); }
  100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { opacity: 0; -webkit-transform: translate3d(-3000px, 0, 0); transform: translate3d(-3000px, 0, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(25px, 0, 0); transform: translate3d(25px, 0, 0); }
  75% { -webkit-transform: translate3d(-10px, 0, 0); transform: translate3d(-10px, 0, 0); }
  90% { -webkit-transform: translate3d(5px, 0, 0); transform: translate3d(5px, 0, 0); }
  100% { -webkit-transform: none; transform: none; }
}
@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { opacity: 0; -webkit-transform: translate3d(3000px, 0, 0); transform: translate3d(3000px, 0, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(-25px, 0, 0); transform: translate3d(-25px, 0, 0); }
  75% { -webkit-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0); }
  90% { -webkit-transform: translate3d(-5px, 0, 0); transform: translate3d(-5px, 0, 0); }
  100% { -webkit-transform: none; transform: none; }
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { opacity: 0; -webkit-transform: translate3d(0, -3000px, 0); transform: translate3d(0, -3000px, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(0, 25px, 0); transform: translate3d(0, 25px, 0); }
  75% { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); }
  90% { -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  100% { -webkit-transform: none; transform: none; }
}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { opacity: 0; -webkit-transform: translate3d(0, 3000px, 0); transform: translate3d(0, 3000px, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); }
  75% { -webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); }
  90% { -webkit-transform: translate3d(0, -5px, 0); transform: translate3d(0, -5px, 0); }
  100% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
.slideContainer { width:100%; height:100%; overflow:hidden}
.slidetouch { position: relative; width: 100%; height: 100%; -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden; display: -webkit-flex; -webkit-flex-shrink: 0; -webkit-flex-direction: column }
.slidetouch.horizontal { -webkit-flex-direction: row }
.slidetouch .slide { position: relative; overflow: hidden; width: 100%; height: 100%; -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden; -webkit-flex-shrink: 0 }
.slidetouch .noslide { overflow: auto }
.slidetouch .blur {-webkit-filter:blur(5px)}
.slidenav { bottom: 10px; left: 0; width: 100%; position: absolute; text-align: center; z-index: 10 }
.slidenav li { width: 8px; height: 8px; display: inline-block; border-radius: 100%; background: #000; opacity: .2; margin: 0 5px; cursor: pointer; }
.slidenav li.on { opacity: 1; background: #007aff; }
.slide-container { width: 100%; height: 50%; position: absolute; top: 10%; overflow: hidden }
.noslide { position:absolute; overflow:auto;-webkit-overflow-scrolling: touch;}
/*pc*/
@media only screen and (min-width:600px) {
  body { width: 600px; margin: 0 auto }
}

/*short*/
@media only screen and (max-height:580px) { }

/*small*/
@media only screen and (max-width:320px) { }

/*i6*/
@media only screen and (max-height:667px) { }

/*i5*/
@media only screen and (max-height:568px) and (min-width:320px) { }

/*i4*/
@media only screen and (max-height:480px) and (min-width:320px) { }