@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-08-25
 * @version $Id$
 */

* {
 	box-sizing: border-box;
}

html, body {
	font-family: "Microsoft yahei";
}

i {
	font-style: normal;
	font-weight: normal;
}

.wd220 {
	width: 220px;
}


.wd250 {
	width: 250px;
}


.wd290 {
	width: 290px;
}

.vessel {
	width: 760px;
	margin: 0 auto;
}

.tt {
	width: 100%;
	height: 55px;
	line-height: 55px;
	border-bottom: 1px solid #ccc;
}

.tt p {
	font-size: 20px;
	color: #ed7556;
}

#tb {
	width: 100%;
	border: 1px solid #eae8e8;
	margin-top: 28px;
}

#tb thead tr th {
	background: #f8f8f8;
	font-size: 12px;
	color: #333;
	text-align: center;
	padding: 13px 0;
}

#tb tbody tr td {
	background: #fff;
	font-size: 12px;
	color: #666;
	text-align: center;
	padding: 18px 0;
	border-top: 1px solid #eae8e8;
}

#tb tbody tr td a {
	color: #2189bf;
	text-decoration: none;
}

#tb tbody tr td a:hover {
	text-decoration: underline;
}

#tb tbody tr td+td {
	border-left: 1px solid #eae8e8;
}

.tips {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/help_tips.png) no-repeat center;
	margin-bottom: -3px;
	cursor: pointer;
}

.tips-box {
	display: none;
	position: absolute;
	line-height: 20px;
	width: 325px;
	font-size: 12px;
	color: #666;
	background: #fff;
	text-align: left;
	padding: 10px;
	border: 1px solid #b6b6b6;
	top: 25px;
	left: -16px;
}

.tips-box::before {
	position: absolute;
	display: block;
	content: '';
	border-bottom: 9px solid #b6b6b6;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	top: -9px;
	left: 16px;
}

.tips-box::after {
	position: absolute;
	display: block;
	content: '';
	border-bottom: 8px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: -8px;
	left: 17px;
}


.tips:hover .tips-box{
	display: block;
}

