<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>会员中心</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" type="image/ico" href="http://cxkjfw.easyrong.test2/theme/red_theme/favicon.ico">
    <link href="http://cxkjfw.easyrong.test2/theme/red_theme/public/css/grid.css" rel="stylesheet">
    <link href="http://cxkjfw.easyrong.test2/theme/red_theme/public/css/normalize.css" rel="stylesheet">
    <link href="http://cxkjfw.easyrong.test2/theme/red_theme/public/css/header.css" rel="stylesheet">
    <script type="text/javascript">
    var site_url = "http://cxkjfw.easyrong.test2/";
    var base_url = "http://cxkjfw.easyrong.test2/";
    var static_url = "http://cxkjfw.easyrong.test2/theme/red_theme";
    </script>
    <link href="http://cxkjfw.easyrong.test2/theme/red_theme/yirongdai/css/common.css" rel="stylesheet" type="text/css" />
    <link href="http://cxkjfw.easyrong.test2/theme/red_theme/member/css/member.css" rel="stylesheet" type="text/css" />
    <link href="http://cxkjfw.easyrong.test2/theme/red_theme/member/css/out_member.css" rel="stylesheet" type="text/css" />
    <link href="http://cxkjfw.easyrong.test2/theme/red_theme/member/css/dai_member.css" rel="stylesheet" type="text/css" />
    <!-- <link href="http://cxkjfw.easyrong.test2/theme/red_theme/member/css/easy.css" rel="stylesheet" type="text/css" /> -->
    <link href="http://www.easyrong.com/theme/red_theme/yirongtong/css/easy.css" rel="stylesheet" type="text/css" />
    <link href="http://cxkjfw.easyrong.test2/theme/red_theme/member/css/datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cxkjfw.easyrong.test2/theme/red_theme/member/css/changxing.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" type="text/css" href="./css/mystyle.css"> -->
    <style>
        /*更新财务数据弹窗*/
        table .refresh_btn{color:#ee6f15;}
        .dialog_refresh_data{border:5px solid rgba(0,0,0,0.6);background: #fff;}
        .dialog_refresh_data .operate_datapicker{width:90%;margin:0 auto;}
        .dialog_refresh_data .operate_datapicker table{width:100%;border:1px solid #ddd;border-collapse:collapse;}
        .dialog_refresh_data .operate_datapicker td{width:113px;height:113px;border:1px solid #ddd}
        .dialog_refresh_data .operate_datapicker caption{border:1px solid #ddd;height:45px;border-bottom:0px;}
        .dialog_refresh_data .refresh_year>div{margin:2px;background:#f5f5f5;width:444px;height:41px;line-height:41px;text-align:center;font-size:18px;color:#333;}
        .dialog_refresh_data .refresh_year>div i{cursor:pointer;width:11px;height:41px;}
        .dialog_refresh_data .refresh_year>div .yearl{margin-left:13px;background:url('/images/m_10.png') no-repeat center;float:left;}
        .dialog_refresh_data .refresh_year>div .yearr{margin-right:13px;background:url('/images/m_11.png') no-repeat center;float:right;}
        .dialog_refresh_data .operate_datapicker .month{font-size:28px;display:block;width:100%;text-align:center;line-height:38px;}
        .declare,.nodeclare{font-size:14px;display:block;width:68px;margin:4px auto;}
        .declare i,.nodeclare i{width:18px;height:19px;margin-right:3px;float:left;}
        .declare{color:#333;}
        .nodeclare{color:#888;}
        .declare i{background:url(/images/m_04.png) no-repeat center left;}
        .nodeclare i{background:url(/images/m_05.png) no-repeat center left;}
        .refresh_btns:hover{color:#0070df;text-decoration:underline;}
        .btns_wrapper{width:100%;text-align:center;}
        .btns_wrapper ul{display:inline;margin-left:-10px;}
        .btns_wrapper ul li{display:inline-block;margin-left:10px;line-height:25px;font-size:14px;color:#888888;}
        .btns_wrapper ul li a{color:#0070df;line-height:20px;padding:3px 5px;font-size:14px;text-decoration:underline;cursor:pointer;}
        .btns_wrapper .notshow{display:none;}
        .dialog .dclose {    background: url(/images/close.png) 0 0 no-repeat;    width: 35px; height: 25px;}
        .notshow{display: none;}
        .modalbg{    filter: alpha(opacity=50)!important; }
    </style>
    <script type="text/javascript" src="http://cxkjfw.easyrong.test2/theme/red_theme/public/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
    $(function() {
        //头部退出
        $('a.quit').click(function() {
            $('.login_state').hide();
            $('.no_login').show();
        });
        $('.top_messageTip a').click(function() {
            $(this).parent('.top_messageTip').hide();
        });

        $('.nav_intro').hover(function() {
            $(this).prev('li').css('color', '#f1f1f1');
            $(this).addClass('cur');
            $(this).children('.web_nav').show();
        }, function() {
            $(this).prev('li').css('color', '#999');
            $(this).removeClass('cur');
            $(this).children('.web_nav').hide();
        });

        $('.search_select').hover(function() {
            $(this).children('dt').addClass('cur');
            $(this).children('dd').slideDown();
        }, function() {
            $(this).children('dt').removeClass('cur');
            $(this).children('dd').slideUp();
        });

        $('.search_select dd a').click(function() {
            var _t = $(this).text();
            $('.search_select dt a').text(_t);
        });

        $('.cart_icon').hover(function() {
            $(this).children('.cart_header').slideDown();
        }, function() {
            $(this).children('.cart_header').slideUp();
        });

        $('.map_area').hover(function() {
            $(this).children('a').addClass('cur');
            $(this).children('.map_slideDown').slideDown();
        }, function() {
            $(this).children('a').removeClass('cur');
            $(this).children('.map_slideDown').slideUp();
        });
    });
    </script>
</head>

<body>
    <!--header start-->
    <div class="header_top">
        <div class="container_25 clearfix">
            <a href="http://cxkjfw.easyrong.test2/yrh/home/index" class="top_index">一融首页</a>
            <ul class="top_list">
                <li style="padding-right:0">|</li>
                <li class="top_mobile"><a href="http://www.easyrong.com/appdownload/pc/index.html" target="_blank">手机版</a></li>
                <li style="padding-right:0">|</li>
                <li class="last nav_intro">
                    <a href="javascript:void(0)">网站导航</a>
                    <div class="web_nav clearfix web_nav2">
                        <div class="web_navLine"></div>
                        <dl>
                            <dt class="orange">一融贷</dt>
                            <dd>
                                <a href="yrd/goods/search" target="_blank">找贷款</a>
                                <a href="http://cxkjfw.easyrong.test2/yrd/projects/index" target="_blank">选项目</a>
                                <a href="http://cxkjfw.easyrong.test2/yrd/tools/diagnostic" target="_blank">贷款诊断</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="orange">一融赋</dt>
                            <dd>
                                <a href="http://cxkjfw.easyrong.test2/yrf/project" target="_blank">股权项目</a>
                                <a href="http://cxkjfw.easyrong.test2/yrf/business" class="w75" style="display:none;" target="_blank">服务库</a>
                                <a href="http://cxkjfw.easyrong.test2/yrf/investor" target="_blank">投资人</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="orange">一融邦</dt>
                            <dd>
                                <a href="http://fw.cxkjfw.easyrong.test2/service_1_0_0" target="_blank">工商注册</a>
                                <a href="http://fw.cxkjfw.easyrong.test2/service_3_0_0" target="_blank">法务</a>
                                <a href="http://fw.cxkjfw.easyrong.test2/service_5_0_0" target="_blank">政府专项资金</a>
                            </dd>
                        </dl>
                    </div>
                </li>
            </ul>
            <!--未登录-->
            <div class="login_state">
                <div class="name_member" style="position:relative">欢迎您
                    <a href="http://cxkjfw.easyrong.test2/member/yr_member/index">ajie</a>
                    <div class="login-down">
                        <em></em>
                        <a href="http://cxkjfw.easyrong.test2/member/yrd_projects/index">债权项目</a>
                        <a href="http://cxkjfw.easyrong.test2/member/yrf_projects_track/wait_submit">股权项目</a>
                        <a href="http://cxkjfw.easyrong.test2/member/Yrd_loans_apply/index">产品申请</a>
                        <a href="http://fw.cxkjfw.easyrong.test2/member/order">订单管理</a>
                    </div>
                </div>
                <a href="javascript:void(0)" onclick="location.href='/yr_user/logout?timestamp='+new Date().getTime()" class="quit">退出</a>
            </div>
        </div>
    </div>
    <!--内页头部 start-->
    <div class="inner_nav_box">
        <div class="container_25 clearfix">
            <div class="logo">
                <a href="http://cxkjfw.easyrong.test2/yrh/home/index">
                    <img src="http://cxkjfw.easyrong.test2/theme/red_theme/yironghe_changxing/image/logo.png" alt="">
                </a>
            </div>
            <div class="member_header_intro">会员中心</div>
        </div>
    </div>
    
    <div class="yirong_line"></div>
    <div class="wrapper member">
        <div class="member_crumb container_25"><a href="http://cxkjfw.easyrong.test2/member/yr_member/index">会员中心</a> > <b>科技贷申请管理</b>
        </div>
        <div class="container_25 clearfix">
            <!--会员中心左侧导航 start-->
            <!--会员中心左侧导航 start-->
            <div class="grid_5 member_Nav alpha">
                <H3>会员中心</H3>
                <dl>
                    <dt class="service_icon">一融云</dt>
                    <dd>
                        <a href="http://easycloud.cxkjfw.easyrong.test2/intention">我的意向</a>
                        <a href="http://easycloud.cxkjfw.easyrong.test2/unconfirmed">待确认订单</a>
                        <a href="http://easycloud.cxkjfw.easyrong.test2/order">我的订单</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="message_icon">信息管理</dt>
                    <dd>
                        <a href="http://cxkjfw.easyrong.test2/member/yr_auth/account_index">账号信息</a>
                        <a href="http://cxkjfw.easyrong.test2/member/yr_auth/enterprise_auth">企业认证</a>
                        <a href="http://cxkjfw.easyrong.test2/member/yr_credit/credit_index">信用分</a>
                        <a href="http://cxkjfw.easyrong.test2/member/yr_member/enter_apply">入驻申请</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="money_icon">我的融资</dt>
                    <dd>
                        <a href="http://cxkjfw.easyrong.test2/member/yrd_projects/index">债权融资项目</a>
                        <a href="http://cxkjfw.easyrong.test2/member/yrf_projects_track/wait_submit">股权融资项目</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="product_icon">我的产品</dt>
                    <dd>
                        <a href="http://cxkjfw.easyrong.test2/member/Yrd_loans_apply/index">产品申请跟踪</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="service_icon">我的科技贷</dt>
                    <dd>
                        <a href="http://cxkjfw.easyrong.test2/member/yrtong_loan" class="cur">科技贷申请管理</a>
                        <a href="http://cxkjfw.easyrong.test2/member/yrtong_loan/subsidy_list">科技货补贴管理</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="service_icon">我的服务</dt>
                    <dd>
                        <a href="http://fw.cxkjfw.easyrong.test2/member/order">服务订单</a>
                        <a href="http://fw.cxkjfw.easyrong.test2/cart">购物车</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="service_icon">我的活动</dt>
                    <dd>
                        <a href="http://cxkjfw.easyrong.test2/member/yrt_activities">活动管理</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="report_icon">我的报告</dt>
                    <dd>
                        <a href="http://fw.cxkjfw.easyrong.test2/member/report">专项基金诊断报告</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="service_icon">设置</dt>
                    <dd>
                        <a href="http://fw.cxkjfw.easyrong.test2/member/address">收件地址</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="service_icon">我的关注</dt>
                    <dd>
                        <a href="http://cxkjfw.easyrong.test2/member/yr_favorite/gq">关注的导师</a>
                    </dd>
                </dl>
                <a href="/common/feedback" class="feedback">
                    <img src="http://cxkjfw.easyrong.test2/theme/red_theme/member/images/common/feedback.jpg" alt="">
                </a>
            </div>
            <!--会员中心左侧导航 end-->
            <!--会员中心左侧导航 end-->
            <div class="grid_18 omega member_right_new">
                <div class="member_right_title">
                    <h3 class="clearfix">
                    科技贷资质认证管理
                </h3>
                </div>
                <ul class="dai_nav">
                    <li>
                        <a href="?type=1">待修改</a>
                    </li>
                    <li>
                        <a href="?type=2">审核中</a>
                    </li>
                    <li>
                        <a href="?type=3" class="cur">贷款成功</a>
                    </li>
                </ul>
                
                <!-- 科技贷资质认证管理表格 -->
                <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr class="title">
                            <td>贷款产品</td>
                            <td>贷款企业</td>
                            <td>受理银行</td>
                            <td>受理网点</td>
                            <td>申请时间</td>
                            <td>状态</td>
                            <td>操作</td>
                        </tr>
                        <tr class="m1">
                            <td><a href="#">嘉兴科技贷</a></td>
                            <td>嘉兴XXX信息科技…</td>
                            <td>嘉兴银行</td>
                            <td>红星桥桥营业部</td>
                            <td>2016-02-05</td>
                            <td>还款中</td>
                            <td><a href="#" class="refresh_btn">更新财务数据</a></td>
                        </tr>
                        <tr>
                            <td colspan="7" class="mbox">
                                <div class="more">查看银行放款信息<i></i>
                                </div>
                                <div class="info">
                                    <div class="d1">
                                        <div class="box">贷款合同金额：<span>200万</span>
                                            <p>贷款合同开始时间：<span class="date">2017-06-06</span>贷款利率：<span>2.6%</span>
                                            </p>
                                            <p>贷款合同结束时间：<span class="date">2017-06-06</span><span>基准利率：<span>15.3%</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d2">
                                        <div class="box">
                                            <p>&nbsp;</p>
                                            <p>期望贷款金额：<span>500万</span>
                                            </p>
                                            <p>期待贷款周期：<span>12个月</span>
                                            </p>
                                            <div class="less">收起<i></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 更新财务数据弹窗 -->
    <div class="dialog dialog_refresh_data">
        <a href="#" class="dclose">&nbsp;</a>
        <div class="title">
            <h3>更新财务数据</h3>
        </div>
        <div class="dcontent">
            <div class="operate_datapicker">
                <table border="1">
                    <tbody id="result">
                        <!-- <tr>
                            <td>
                                <span class="month">1月</span>
                                <span class="declare"><i></i>已申报</span>
                                <div class="btns_wrapper">
                                    <ul class="state1">
                                        <li><a class="refresh_btns">更新</a></li>
                                        <li><a class="refresh_btns" href="#">下载</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <span class="month">2月</span>
                                <span class="nodeclare"><i></i>未申报</span>
                                <div class="btns_wrapper">
                                    <ul class="state2">
                                        <li><a class="refresh_btns refresh_btns1">上传</a>
                                            <input type="file" name="" class="hide">
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <span class="month">3月</span>
                                <span class="declare"><i></i>已申报</span>
                                <div class="btns_wrapper">
                                    <ul class="state1">
                                        <li><a class="refresh_btns">更新</a></li>
                                        <li><a class="refresh_btns" href="#">下载</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <span class="month">4月</span>
                                <span class="nodeclare"><i></i>未申报</span>
                                <div class="btns_wrapper">
                                    <ul class="state2">
                                        <li><a class="refresh_btns">上传</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="month">5月</span>
                                <span class="declare"><i></i>已申报</span>
                                <div class="btns_wrapper">
                                    <ul class="state1">
                                        <li><a class="refresh_btns">更新</a></li>
                                        <li><a class="refresh_btns" href="#">下载</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td><span class="month">6月</span>
                                <span class="declare"><i></i>已申报</span>
                                <div class="btns_wrapper">
                                    <ul class="state1">
                                        <li><a class="refresh_btns">更新</a></li>
                                        <li><a class="refresh_btns" href="#">下载</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <span class="month">7月</span>
                                <span class="nodeclare"><i></i>未申报</span>
                                <div class="btns_wrapper">
                                    <ul class=" state3">
                                        <li>尚未到申报时间</li>
                                    </ul>
                            </td>
                            <td>
                                <span class="month">8月</span>
                                <span class="nodeclare"><i></i>未申报</span>
                                <div class="btns_wrapper">
                                    <ul class=" state3">
                                        <li>尚未到申报时间</li>
                                    </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="month">9月</span>
                                <span class="nodeclare"><i></i>未申报</span>
                                <div class="btns_wrapper">
                                    <ul class=" state3">
                                        <li>尚未到申报时间</li>
                                    </ul>
                            </td>
                            <td>
                                <span class="month">10月</span>
                                <span class="nodeclare"><i></i>未申报</span>
                                <div class="btns_wrapper">
                                    <ul class=" state3">
                                        <li>尚未到申报时间</li>
                                    </ul>
                            </td>
                            <td>
                                <span class="month">11月</span>
                                <span class="nodeclare"><i></i>未申报</span>
                                <div class="btns_wrapper">
                                    <ul class=" state3">
                                        <li>尚未到申报时间</li>
                                    </ul>
                            </td>
                            <td>
                                <span class="month">12月</span>
                                <span class="nodeclare"><i></i>未申报</span>
                                <div class="btns_wrapper">
                                    <ul class=" state3">
                                        <li>尚未到申报时间</li>
                                    </ul>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="dialog dialog_return">
        <a href="#" class="dclose">&nbsp;</a>
        <div class="title">
            <h3>详情</h3>
        </div>
        <div class="dcontent"><img src="http://cxkjfw.easyrong.test2/theme/red_theme/member/images/changxing/09.png">
            <h4>退回原因</h4>
            <p></p>
        </div>
        <div class="dbtn"><a class="dokay">确定</a></div>
    </div>
    <div class="dialog dialog_apply">
        <a href="#" class="dclose">&nbsp;</a>
        <div class="title">
            <h3>申请信息填写 </h3>
        </div>
        <div class="dcontent">
            <form action="http://cxkjfw.easyrong.test2//member/yrtong_loan/save_subsidy" method="post" class="form form_apply" id="subsidy_form">
                <ul>
                    <li>
                        <label for="repay_type">还款状态：</label><span id="repay_type_name">请选择还款时间</span>
                        <input name="repay_type" value="0" type="hidden" id="repay_type" />
                    </li>
                    <li>
                        <label for="start_time">还款开始时间：</label>
                        <input name="repay_start_time" type="text" style="text-indent: 10px" id="start_time" readonly/>
                        <input name="" type="hidden" id="pay_start_time" />
                    </li>
                    <li>
                        <label for="end_time">还款截止时间：</label>
                        <input name="repay_end_time" type="text" class="datepicker" id="end_time" />
                        <input name="" type="hidden" id="pay_end_time" />
                    </li>
                    <li>
                        <label>预计贷款天数：</label><span id="period"></span>
                    </li>
                    <li>
                        <label>预计补贴金额：</label><span id="expect_subsidy"></span>
                    </li>
                    <li>
                        <label>贷款合同号：</label><span id="contract_no"></span>
                    </li>
                    <li>
                        <label style="vertical-align: top">请上传贷款凭证：</label>
                        <div class="uploadbox">
                            <div class="upload">上传
                                <input type="file" name="mypic" id="file1">
                            </div>
                            <input type="hidden" name="proof" id="file1_val">
                            <a id="file1_tip" target="_blank"></a>
                        </div>
                        <p class="file_tip">(仅支持PDF、JPG、PNG、ZIP格式)</p>
                    </li>
                </ul>
                <input id="_id" name="apply_id" type="hidden" />
                <input id="amount" type="hidden" />
                <input id="expect_subsidy_rate" type="hidden" />
                <input id="standard_rate" type="hidden" />
                <div class="subsidy_tip error_tip"><span>错误提示</span></div>
                <div class="clear"></div>
                <div class="dbtn"><a class="save_subsidy">提交</a>
                </div>
            </form>
        </div>
    </div>

    <link href="http://cxkjfw.easyrong.test2/theme/red_theme/yironghe/css/zi-footer.css" rel="stylesheet">
    <div class="zi-footer po">
        <div class="zi-footer-content">
            <ul class="ft-about">
                <li><a href="/yrh/home/about" target="_blank">关于我们</a></li>
                <li><a href="/common/feedback" target="_blank">意见反馈</a></li>
                <li><a href="/yrh/home/knowledge" target="_blank">知识库</a></li>
            </ul>
            <dl class="friend-link">
                <dt>友情链接：</dt>
                <dd>
                    <a href="http://www.easyrong.com" target="_blank">一融网 </a>
                    <a href="http://www.jxkjjrfw.com" target="_blank">嘉兴科技金融</a>
                    <a href="http://www.wxjrfw.com" target="_blank">无锡金融</a>
                    <a href="http://www.yqrzyzt.com" target="_blank">延庆融资一站通</a>
                    <a href="http://www.ypjrg.com" target="_blank">杨浦金融港</a>
                    <a href="http://www.hzkjjrfw.com" target="_blank">湖州科技金融</a>
                    <a href="http://www.cskjjr.com" target="_blank">常熟科技金融</a>
                    <a href="http://www.myjrfwpt.com" target="_blank">密云金融</a>
                    <a href="http://www.jsqyjrfw.com" target="_blank">金山科技金融</a>
                    <a href="http://www.hzkjyr.com" target="_blank">杭州科技一融</a>
                    <a href="http://www.zjgzhjr.com" target="_blank">张家港智汇金融</a>
                    <a href="http://www.bjkjyr.com" target="_blank">北京科技一融服务平台</a>
                    <a href="http://www.jajrfw.com" target="_blank">静安金融 </a>
                    <a href="http://www.zskjjr.com" target="_blank">舟山科技金融</a>
                    <a href="http://www.jskjyr.com" target="_blank">江苏科技一融</a>
                    <a href="http://www.csxwjr.com" target="_blank">长沙小微金融  </a>
                    <a href="http://www.wzkjjrfw.com" target="_blank">温州科技金融</a>
                    <a href="http://www.sxkjjr.com" target="_blank">绍兴市科技金融</a>
                    <a href="http://www.czjrg.com" target="_blank">常州金融港</a>
                    <a href="http://www.hbkjjr.com" target="_blank">湖北科技一融</a>
                    <a href="http://www.lcjrfw.com" target="_blank">鹿城金融</a>
                    <a href="http://www.tzkjjr.com" target="_blank">台州科技金融</a>
                    <a href="http://www.hfkjjr.com" target="_blank">合肥科技金融 </a>
                    <a href="http://www.cdkjjr.com" target="_blank">成都科技金融</a>
                    <a href="http://www.ohkjjrg.com" target="_blank">瓯海科技金融港</a>
                    <a href="http://www.jyjrg.com" target="_blank">江阴金融</a>
                    <a href="http://www.nckjjr.com" target="_blank">南昌科技金融</a>
                    <a href="http://www.gzkjjr.com" target="_blank">广州科技金融</a>
                    <a href="http://www.qdkjyr.com" target="_blank">青岛科技一融服务平台</a>
                    <a href="http://www.tzrzyzt.com" target="_blank">通州融资一站通</a>
                </dd>
            </dl>
            <div class="zi-footer-bottom">
                <p class="cp">©2017 一融网 版权所有
                    <span></span>
                    <span style="display: none"><script src="http://s11.cnzz.com/stat.php?id=1257155010&web_id=1257155010" language="JavaScript"></script></span>
                    <span id="cnzz_style"><script src="http://s11.cnzz.com/stat.php?id=&web_id=" language="JavaScript"></script></span>&nbsp;
                </p>
                <p class="police cp">
                    <a style="color:#63656b;" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">沪公安网备 号</a>
                </p>
                <div class="kefu">
                    <p>客服电话（09:00~18:00）</p>
                    <em>4006-520-060</em>
                </div>
            </div>
        </div>
    </div>
    <script>
    var site_url = "http://cxkjfw.easyrong.test2/";
    </script>
    <!-- <script type="text/javascript" src="http://cxkjfw.easyrong.test2/theme/red_theme/member/js/easy.js"></script> -->
    <script type="text/javascript" src="http://www.easyrong.com/theme/red_theme/yirongtong/js/easy.js"></script>
    <!-- <script type="text/javascript" src="http://cxkjfw.easyrong.test2/theme/red_theme/member/js/datepicker.min.js"></script>
    <script type="text/javascript" src="http://cxkjfw.easyrong.test2/theme/red_theme/member/js/changxing.js"></script>
    <script type="text/javascript" src="http://cxkjfw.easyrong.test2/theme/red_theme/member/js/ajaxfileupload.js"></script>
    <script src="http://cxkjfw.easyrong.test2/theme/red_theme/public/js/meiqia.js"></script> -->
    <!-- <script src="js/mjs.js"></script> -->
    <script>
        var loanlist;
        $(function() {
            var searchdata = function(url){
                $.ajax({
                        url: url,
                        type: 'get',
                        dataType: 'json',
                        success: function(r) {
                            $('#result').html('');
                            loanlist = r;
                            $('#result').tmpl('tmpl', loanlist);
                        }
                    })
            };
            /*更新财务数据弹窗*/
            $('.refresh_btn').modal({
                dialog: '.dialog_refresh_data',
                width: '500px',
                height: '500px',
                beforeOpen: function() {
                    searchdata('./images/loan.json');
                },
                onOk: function() {}
            });
            /*左箭头*/
            $(document).on('click', '.yearl', function() {
                searchdata('./images/loan_2016.json');
                /*$.ajax({
                    url: 'loan_2016.json',
                    type: 'get',
                    dataType: 'json',
                    success: function(r) {
                        $('#result').html('');
                        loanlist = r;
                       
                        $('#result').tmpl('tmpl', loanlist);
                    }
                })*/
            });
            /*右箭头*/
            $(document).on('click', '.yearr', function() {
                searchdata('loan.json');
                /*$.ajax({
                    url: 'loan.json',
                    type: 'get',
                    dataType: 'json',
                    success: function(r) {
                        $('#result').html('');
                        loanlist = r;
                       $('#result').tmpl('tmpl', loanlist);
                    }
                })*/
            });
        })
    </script>
    <script type="text/html" id="tmpl">
        <% var nowyear = new Date(); nowyear = nowyear.getFullYear(); %>
            <% if ( nowyear == loanlist.year ) { %>
                <caption class="refresh_year">
                    <div><i class="yearl"></i>
                        <%=loanlist.year%>年<i class="notshow yearr"></i></div>
                </caption>
                <% }%>
                    <% if ( nowyear > loanlist.year ) { %>
                        <caption class="refresh_year">
                            <div><i class="yearl"></i>
                                <%=loanlist.year%>年<i class="yearr"></i></div>
                        </caption>
                        <% }%>
                            <% for ( var i = 0; i < loanlist.list.length; i++ ) {
                    var e=loanlist.list;
                    if(i%4==0){ %>
                                <tr>
                                    <% }%>
                                        <td><span class="month"><%=i+1%>月</span>
                                            <% if(e[i].status==1){%>
                                                <span class="declare"><i></i>已申报</span>
                                                <% } else{%>
                                                    <span class="nodeclare"><i></i>未申报</span>
                                                    <% } %>
                                                        <div class="btns_wrapper">
                                                            <% if(e[i].operate==0){%>
                                                                <ul class="state1">
                                                                    <li><a class="refresh_btns">更新</a></li>
                                                                    <li><a class="refresh_btns" href="#">下载</a></li>
                                                                </ul>
                                                                <% } else if(e[i].operate==1){%>
                                                                    <ul class="state2">
                                                                        <li><a class="refresh_btns">上传</a></li>
                                                                    </ul>
                                                                    <% } else if(e[i].operate==2){%>
                                                                        <ul class=" state3">
                                                                            <li>尚未到申报时间</li>
                                                                        </ul>
                                                                        <%if(i%4==3){ %>
                                </tr>
                                <% }%>
                                    <%} %>
                                        </div>
                                        </td>
                                        <%} %>
    </script>
</body>

</html>