<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style type="text/css">
    body {
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        height: 30px;
        border-bottom: 1px solid #ddd;
        line-height: 30px;
        padding-left: 10px;
    }

    .scroller .loading {
        height: 60px;
        line-height: 60px;
        text-align: center;
        width: 100%;
        background-color: #f1f1f1;
    }

    .scroller {
        -webkit-overflow-scrolling: touch;
    }
    </style>
</head>

<body>
    <div id="container" class="scroller">
        <div class="loading">
            下拉刷新数据
        </div>
        <ul id="result">
            <li><a href="#">列表数据1</a></li>
            <li><a href="#">列表数据2</a></li>
            <li><a href="#">列表数据3</a></li>
            <li><a href="#">列表数据4</a></li>
            <li><a href="#">列表数据5</a></li>
        </ul>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/qjs.js"></script>
    <script src="js/mqjs.js"></script>
    <script>
    var playlist;
    $(function() {
        $('.scroller').loadmore({
            loading: '.loading',
            next: function() {
                var that = this;
                /*setTimeout(function() {
                    that.back.call();
                }, 2000);*/
                $.ajax({
                    url: 'images/songs.json',
                    type: 'get',
                    dataType: 'json',
                    success: function(r) {
                        playlist = r;
                        $('#result').tmpl('tmpl', playlist);
                        that.back.call();
                    }
                });
            }
        });
    })
    </script>
    <script>
    /*$(function() {
        	search(0);
        	var h = $(window).height();
        	$('#scrollBox').waterfall({
        		scrollBox:'#result',
        		moreHeight:10,
        		callback: function() {
        			var num=$('#result li').length;
        			search(num);
        		}
        	});
        })*/
    </script>
    <script type="text/html" id="tmpl">
        <% for ( var i = 0; i < playlist.length; i++ ) { %>
            <li>
                <%=playlist[i].title%>
                    <br><span><%=playlist[i].singer%></span></li>
            <% } %>
    </script>
</body>

</html>